.c-authChange__container{
  padding:24px 10px;
  background: #E5F6F2;
}

.c-authChange__title{
    margin: 32px 0;
    color: #00ac7d;
    font-size: 24px;
}

.c-authChange__form{
  &--text{
    margin-bottom: 12px;
    font-size: 10px;
    display: block;
  }

  &--body{
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  &--input{
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 10px;
    background: #fff;
    width: 100%;
    border-radius: 5px;
  }
  &--button{
    width: 75%;
    margin: 0 auto;
    @include pc{

    }
  }

  &--submit{
    padding: 10px 0px;
    border-radius: 7px;
    background: orange;
    width: 100%;
    color: white;
    -webkit-appearance: none;
  }
}
