.c-bords{
    &__head{
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-top: 1px solid $main-color;
    }
}

.c-bord{
    &__list{
        border-bottom:1px solid $main-color;
        display: block;
        padding: 10px;
        background: $bg;
        &:last-child{
            border-bottom: none;
        }
    }
    &__inner{
        display: flex;
    }
    &__userImg{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        &__wrapper{
            background-image: url('/storage/images/noavatar.png'); 
            background-position: center;
            background-size: contain;
            margin-right: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    &__order{
        padding: 5px 12px;
        border-radius: 10px;
        &.buy{
            background: blue;
        }
        &.sell{
            background: pink;
        }
    }
    &__title{

    }
    &__msg{

    }
  

    

}