.c-bords{
    @include pc{
      width: 520px;
      margin: 24px auto 0;
      border-top: 1px solid  #00ac7d;
      padding-bottom: 48px;
    }
    &__head{
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-top: 1px solid $main-color;
        @include pc{
          width: 520px;
          margin: 36px auto 0;
          text-align: left;
          font-size: 30px;
          color: #00ac7d;
          border: none;
        }
    }
}

.c-bord{
    &__list{
        border-bottom:1px solid $main-color;
        display: block;
        padding: 10px;
        background: $bg;
        &.sell{
            background: $p_bg;
        }
        &:last-child{
            border-bottom: none;
        }
    }
    &__inner{
        display: flex;
    }
    &__half{
        &--top{
            display: flex;
        }
        &--bottom{
            margin-top: 8px;
            padding-right: 20px;
        }

    }
    &__latestMsg{
        color: $normal-text;
        font-size: 13px;
    }
    &__created{
        color: $normal-text;
        margin-top: 4px;
        font-size: 11px;
    }
    &__userImg{
        height: 100%;
        &__wrapper{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            margin-right: 10px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &__order{
        padding: 5px 12px;
        border-radius: 5px;
        font-size: 10px;
        &.buy{
            background:  $high-gr;
        }
        &.sell{
            background: white;
            color: $main-color;
            border: 1px solid #00ac7d;
        }
    }
    &__title{
        margin-left: 8px;
        font-size: 12px;
        padding-top: 5px;
        white-space: nowrap;
        @include pc{
          font-size: 16px;
        }
    }
}

