.c-contact{
    background: $bg;
    padding: 32px;
    @include pc{
        background: #fff;
        }
    &__inner{
        @include pc{
            width: 520px;
            margin: 0 auto;
            padding-bottom: 80px;
            padding-top: 48px;
        }
    }
    &__title{
        color: $main-color;
        font-size: 24px;
         @include pc{
             font-size: 30px;
             font-weight: normal;
             text-align: center;
        }
        .sp{
            @include pc{
                display: none;
            }
        }
        &--finish{
            line-height: 1.35;
            font-weight: normal;
        }
    }

    &__label{
        color: $main-text;
        font-size: 14px;
        padding: 5px 0;
        @include pc{
            font-size: 18px;
        }
        &--confirm{
            font-size: 18px;
        }
    }
    &__input{
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        margin-top: 8px;
        @include pc{
            background: $bg;
        }
    }
    &__input-area{
        margin-top: 24px;
        @include pc{
            margin-top: 40px;
        }
    }
    &__submit{
        font-size: 16px;
        margin: 48px auto 0;
        display: block;
        text-align: center;
        width: 75%;
        color: white;
        background: $main-text;
        padding: 10px;
        border-radius: 7px;
        &--post{
            margin-top: 24px;
            background: orange;
        }
    }
    &__error{
        font-size: 12px;
        padding-left: 8px;
        color: red;
        margin-top: 8px;
        display: block;
    }
    //確認画面
    &__prev-area{
        margin-top: 32px;
    }
    &__prev{
        margin-top: 16px;

    }
    &__finish{
        background: none;
        padding: 32px;
    }
}