#footer{
    width: 100%;
    background: white;
    bottom: 0;
    border-top: 1px solid $main-color;
    @include pc{
      border: none;
    }
}

.c-footer{
    &__inner{
      background: $bg;
    }
    &__contents{
      display: flex;
      padding: 16px 24px;
      justify-content: space-between;
      @include pc{
        display: block;
      }

  }
  &__logo{
    @include pc{
      text-align: center;
    }
    &--img{
      display: none;
      @include pc{
        display: block;
        margin-top: 8px;
      }
    }
  }
  &__list{
        font-size: 10px;
        letter-spacing: 0.3;
        &__wrap{
          @include pc{
            width: 520px;
            margin: 24px auto 0;
            display: flex;
            justify-content: space-around;
          }
        }
        &__link{
            padding: 3px 0;
            display: inline-block;
        }
  }
  &__small{
        font-size: 10px;
        text-align: center;
        padding-bottom: 16px;
        @include pc{
          text-align: center;
          margin-top: 24px;
        }
  }
}
