.hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 60px;
    cursor: pointer;
    z-index: 300;
    @include pc{
      display: none;
    }
    &__line {
      position: absolute;
      left: 11px;
      width: 35px;
      height: 3px;
      background-color: $main-color;
      transition: all .6s;
    }
    &__line--1 {
      top: 19px;
    }
    &__line--2 {
      top: 26px;
    }
    &__line--3 {
      top: 33px;
    }
}
.global-nav{
    position: fixed;
    right: -100vw; /* これで隠れる */
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 16px;
    background-color: white;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
    font-size: 18px;
    &__logo{
      margin-left: 16px;
      display: inline-block;
      height: 45px;
      &__link{
        display: inline-block;
        height: 100%;
      }
    }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    &.guest{
      margin-top: 32px;
    }
  }

  &__item {
    margin-left: 64px;
    color: $main-text;
    &--auth{
      font-size: 18px;
      width: 100px;
      &.first{
        border-top: 1px solid $main-color;
        position: relative;
        margin-top: 16px;
        padding-top: 16px;
      }
    }
    &--profile{
      margin-bottom: 8px;
    }
    &--logout{
      margin-top: 16px;
      padding-top: 16px;
      width: 100px;
      border-top: 1px solid $main-color;
      font-size: 14px;
       &.admin{
         margin-top: 0;
         padding-top: 0;
         &:hover{
           opacity: 1;
         }
       }
    }
    &__link {
      display: block;
      padding: 12px 16px 12px 0px;
      text-decoration: none;
      @include pc{
        color: #f8f8f8;
        &:hover{
          text-decoration: underline;
          color: $low-gr;
        }
      }
      &--profile{
        border-top: 1px solid $high-gr;
        padding: 32px 0 32px 24px;
      }
      &.admin{
        &:hover{
           opacity: 0.7;
           background: none;
         }
      }
    }
    &__profile{
      display: flex;
      align-items: center;
        &__img{
            height: 100%;
            &__wrapper{
              width: 80px;
              height: 80px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              overflow: hidden;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        &__name{
          font-weight: bold;
          font-size: 18px;
          margin-left: 16px;
        }

    }
}

  &__item a:hover {
    background-color: #eee;
  }



  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
  }
}

/* 表示された時用のCSS */
.nav-open{
  .header{
    opacity: 1;
  }
  .global-nav {
    right: 0;
  }

  .black-bg {
    opacity: .8;
    visibility: visible;
  }

  .hamburger__line--1 {
    transform: rotate(45deg);
    top: 30px;
  }

  .hamburger__line--2 {
    width: 0;
    left: 50%;
  }

  .hamburger__line--3 {
    transform: rotate(-45deg);
    top: 30px;
  }
}


