.c-lessonShow{
  background: $bg;
  padding: 20px;
    &__inner{
        background: white;
        padding: 16px;
    }
  &__price{
    margin-top: 16px;
    font-size: 20px;
    font-weight: bold;
    color: $main-color;

    &.is-inactive{
      text-decoration:line-through;
    }
  }
  &__editIcon{
    text-align: right;
    margin-top: 16px;
    font-size: 20px;
    color: $main-color;
  }
  &__title{
    margin-top: 16px;
    font-size: 20px; 
    line-height: 1.2;
  }

  &__detail{
    margin-top: 16px;
    line-height: 1.2;
    font-size: 12px;
  }
  &__user{
    display: flex;
  }
 &__userimg{
    background-image: url('/storage/images/noavatar.png'); 
    background-position: center;
    background-size: contain;
    border:1px solid $main-text;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
   }
 }
  &__username{
    margin-left: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  &__updated{
    margin-top: 3px;
    font-size: 10px;
  }
  &__like{
    margin: 8px auto 0;
    z-index: 3;
    background: $main-color;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    box-sizing: border-box;
  }
  &__buynow{
    margin: 8px auto 0;
    z-index: 3;
    background: orange;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    box-sizing: border-box;
    &#payjp_checkout_box input[type=button]{
      background: $bg !important;
      background-image: none !important;
    }
  }
  &__curriculum{
    margin-top: 32px;
    &__head{
      color: $main-color;
    }
  }

  &__lessons{
    margin-top: 32px;
  }
  &__lesson{
    margin-top: 24px;
 
    &__title{
      margin-top: 12px;
      line-height: 1.5;
      font-size: 14px;
    }
 
  }
  &__curriculumBlock{
    margin-top: 32px;
  }
  &__toLessons{
    margin-top: 60px;
  }
  &__toLesson{
    margin: 0 auto;
    z-index: 3;
    background: $high-gr;
    color: white;
    text-align: center;
    width: 75%;
    font-size: 12px;
    box-sizing: border-box;
    border-bottom: 1px solid $main-color;
    padding: 14px 14px 14px 24px;
    a{
        color: $main-text;
    }
    &:first-child{
        border-radius: 5px 5px 0 0;
    }
    &:last-child{
        border-radius: 0 0 5px 5px;
        border-bottom: none;
    }
  }
  &__toBord{
    margin: 16px auto 0;
    z-index: 3; 
    background: #7DD4BC;
    text-align: center;
    width: 100%;
    font-size: 12px;
    padding: 14px;
    border-radius: 7px;
    box-sizing: border-box;
  }

  &__toLessonPage{
    padding: 16px;
    font-size: 12px;
    border-bottom: 1px solid $main-color;
    color: #585858;
    background: #CBEDE4;
    a{
      color: #585858;
    }
    &:first-child{
      border-radius: 8px 8px 0 0;
    }
    &:last-child{
      border-radius: 0 0 8px 8px;
      border-bottom: none;
    }
  }

}