.c-mypage{
    &__order{
        text-align: center;
    }
    &__nav{
        height: 45px;
        width: 100%;
        display: -webkit-box;
        border-bottom: 3px solid $sub-text;
        overflow-x: scroll;
        white-space: nowrap;
        &__list{
            width: 30%;
            font-size: 10px;
            background: white;
            display: inline-block;
            height: 95%;
            border-right: 1px solid $sub-text;
            .small{
                font-size: 10px;
            }
            &.active{
                background: $bg;
                color: $main-color;
                border-bottom: 1px solid $main-color;
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 1.35;
            }
        }
    }
    &__title{
        margin-top: 0;
        padding-top: 32px;
        text-align: center;
        color: $main-color;
        font-size: 18px;
        &--bank{
            color: $main-text;
            font-size: 16px;
            line-height: 1.5;
            font-weight: bold;
            margin-top: 32px;
            padding-bottom: 32px;
        }
    }
    &__editLink{
        font-size: 12px;
        font-weight: normal;
        text-decoration: underline;
        color: $main-color;
        margin-left: 8px;
        &__wrapper{
            margin-top: 8px;
            text-align: center;
        }
    }
    &__account{
        width: 280px;
        margin: 0 auto;
        padding: 16px;
        background: $bg;
        &__inner{
            background: white;
            padding: 0 16px 64px;
        }
        &__list{
            margin-top: 24px;
            &__label{
                display: inline-block;
                padding-bottom: 8px;
            }
            &.img{
                text-align: center;
            }
            img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
            &--withdraw{
                margin-top: 120px;
                font-size: 10px;
            }
        }
        &__label{
            font-weight: bold;
            padding-bottom: 8px;
        }
    }
    &__sale__thisMonth{
        background: $bg;
        width: 240px;
        margin: 0 auto;
        padding: 10px 0;
        border-radius: 5px;
        margin-top: 16px;
        &__title{
            color: $main-color;
            font-size: 13px;
        }
        &__price__wrapper{
            display: flex;
            justify-content: center;
            align-items: baseline;
            margin-top: 8px;
            padding-right: 16px;
        }
        &__total{
            font-size: 10px;
            
        }
        &__price{
            color:$main-color;
            font-weight: bold;
            font-size: 25px;
            letter-spacing: 0.76px;
            margin-left: 8px;
        }
        &__detail{
            background-color: $main-color;
            border-radius: 5px;
            color: white;
            width: 50px;
            margin: 16px auto 0;
            font-size: 10px;
            a{
                padding: 5px 10px;
                display: inline-block;
            }
        }
    }
    &__sale__untransferred{
            box-sizing: border-box;
            padding:16px 22px;
            margin: 30px auto 0;
            width: 240px;
            background: $p_bg;
        &__title{
            font-size: 13px;
        }
        &__price__wrapper{
            display: flex;
            justify-content: center;
            align-items: baseline;
            margin-top: 10px;

        }
        &__total{
            font-size: 10px;
        }
        &__price{
            font-size: 23px;
            min-width: 80px;
            letter-spacing: 0.7px;
            color: $main-color;
        }   
        &__request{
            width: 50px;
            &__link{
                font-size: 10px;
                padding: 5px;
                border-radius: 3px;
                background: $main-color;
                color: white;
                &:visited{
                    color: white;
                }
            }
        }
        &__text{
            font-size: 10px;
            margin-top: 14px;
            display: block;
            line-height: 1.375;
        }
    }
    &__sale__done{
        margin: 30px auto 0;
        display: inline-block;
        &__title{
            font-size: 13px;
            letter-spacing: 0.4px;
        }
        table{
            margin-top: 12px;
        }
        thead{
            background: $bg;
            font-size: 14px;
        }
        th{
            padding: 8px 0;
            font-weight: normal;
        }
        tr{
            border-bottom: 1px solid $main-color;
            &:first-child{
                border-bottom: none;
            }
        }
        td{
            padding: 10px 0;
            font-size: 10px;
            a{
                padding: 3px 12px;
                background: $main-color;
                border-radius: 5px;
                color: white;
            }
        }
    }
    &__sale__month{
        margin: 40px auto 0;
        display: inline-block;
        thead{
            background: $bg;
            font-size: 14px;
            font-weight: normal;
        }
        th{
            padding: 8px 0;
        }
        tr{
            border-bottom: 1px solid $bg;
        }
        td{
            padding: 10px 0;
            font-size: 10px;
        }
    }
    &__sale__paid{
        margin: 40px auto 0;
        display: inline-block;
        thead{
            background: $bg;
            font-size: 14px;
            font-weight: normal;
        }
        th{
            padding: 8px 0;
        }
        tr{
            border-bottom: 1px solid $bg;
        }
        td{
            padding: 10px 0;
            font-size: 10px;
        }
    }
    &__sale__list{

        &--day{
            min-width: 100px;
        }
        &--title{
            min-width: 95px;
        }
        &--price{
            min-width: 90px;
        }
        &--status{
            min-width: 80px;
        }
        &--request{
            min-width: 80px;
        }
        &--done{
            min-width: 80px;
        }
    }
    &__sale__nothing{
        margin-top: 32px;
    }
}