.c-mypage{
    &__nav{
        height: 45px;
        width: 100%;
        display: flex;
        border-bottom: 3px solid $main-color;
        &__list{
            width: 50%;
            font-size: 12px;
            background: white;
            .small{
                font-size: 10px;
            }
            &.active{
                background: $main-color;
                color: white;
                border-radius: 10px 10px 0 0;
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 1.35;
            }
        }
    }
    &__title{
        margin-top: 0;
        padding-top: 32px;
        text-align: center;
        color: $main-color;
        font-size: 18px;
        &--bank{
            color: $main-text;
            font-size: 16px;
            line-height: 1.5;
            font-weight: bold;
            margin-top: 32px;
            padding-bottom: 32px;
        }
    }
    &__editLink{
        font-size: 12px;
        font-weight: normal;
        text-decoration: underline;
        color: $main-color;
        margin-left: 8px;
        &__wrapper{
            margin-top: 8px;
            text-align: center;
        }
    }
    &__account{
        width: 280px;
        margin: 0 auto;
        padding: 16px;
        background: $bg;
        &__inner{
            background: white;
            padding: 0 16px 64px;
        }
        &__list{
            margin-top: 24px;
            &__label{
                display: inline-block;
                padding-bottom: 8px;
            }
            &.img{
                text-align: center;
            }
            img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
            &--withdraw{
                margin-top: 120px;
                font-size: 10px;
            }
        }
        &__label{
            font-weight: bold;
            padding-bottom: 8px;
        }
    }
}