.c-mypage__products{
    padding: 32px 0 48px;
    &__title{
        color: $main-color;
        line-height: 1.35;
        width: 280px;
        margin: 0 auto;
        font-size: 23px;
        @include pc{
            margin-top: 32px;
            text-align: center;
        }
        &--sale{
            text-align: left;
            @include pc{
            text-align: center;
          }
        }
        &--paid{
            text-align: left;
            @include pc{
            text-align: center;
            }
        }
    }
}