.c-product{
  &__area{
    @include pc{
    width: 690px;
    margin: 60px auto 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    }
  }
  &__block{
    width: 280px;
    margin: 30px auto 0;
    overflow-wrap:break-word;
    box-shadow: 0 20px 30px -15px rgba(89,0,0,0.08);
    transition: 0.2s ease-in-out;
    animation: cardSlideIn 0.4s ease-in-out;
    padding: 10px 15px 0;
    box-sizing: border-box;
    background: $p_bg;
    border-radius: 10px;
    @include pc{
      width: 210px;
      padding: 0;
      margin: 32px 0 0 0;
    }
    &:hover{
      opacity: 0.6;
    }
  }
  &__title{
    width: 280px;
    margin: 32px auto 0;
    color: $main-color;
    @include pc{
      width: 520px;
      font-size: 30px;
      margin: 64px auto 0;
      letter-spacing: 3px;
      h2{
      font-weight: normal;

      }
    }
  }
  &__img{
    background: white;
    width: 280px;
    height: 150px;
    margin: 0 auto;
    border-radius: 15px;
  }
}

//ページング件数表示
.c-paging{
    text-align: center;
    margin-top: 20px;
    background: $bg;
    padding: 10px 0;
    @include pc{
      margin:0 auto;
      width: 690px;
    }
}
.c-product__link{
    cursor: pointer;
}

//検索ボックス
.c-searchBox{
    background: $bg;
    @include pc{
      background: #fff;
    }
    &__inner{
        padding: 24px;
        @include pc{
          width: 520px;
          margin: 0 auto;
        }
    }

    &__categories{
        margin-top: 8px;
    }
    &__difficults{
      margin-top: 20px;
      padding-top: 20px;
      border-top: 3px solid $main-color;
      @include pc{
        border: none;
      }
    }
    &__title{
      font-size: 12px;
      @include pc{
        font-size: 16px;
      }
    }
    &__body{
      @include pc{
        width: 100%;
        margin-top: 5px;
        padding: 10px 0 20px 50px;
        background: $bg;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;

      }
    }
    &__checkbox{
      display: none;
    }
    &__label{
        padding-left: 20px;
        position:relative;
        margin-right: 15px;
        margin-top: 15px;
        line-height: 17px;
        display: inline-block;
        font-size: 12px;
        @include pc{
          width: 25%;
          font-size: 16px;
        }
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 15px;
            border-radius: 4px;
            background: #ffffff;
        }
    }
    &__checkbox:checked + .c-searchBox__label{
        &::before{
          background: $main-color;
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 2px;
            left: 5px;
            width: 4px;
            height: 8px;
            transform: rotate(45deg);
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
        }
    }
    &__submit{
      margin: 24px auto 0;
      text-align: center;
      width: 75%;
      color: #ffffff;
      background: orange;
      border-radius: 7px;
      @include pc{
        width: 100%;
        margin: 32px auto 0;
      }
    }
    &__button{
      padding: 10px;
      color: #ffffff;
      height: 100%;
      width: 100%;
      @include pc{
        font-size: 16px;
      }
    }

}

//プロダクトのブロック
.c-image__block{
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}

.c-image{
    max-width: 100%;
}

.c-tag{
  font-size: 10px;
  border-radius: 5px;
  padding: 3px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
  &--category{
    &:first-child{
      margin-left: 0;
    }
  }
  &--difficulty{
    &:first-child{
      margin-left: 0;
    }
  }

  &.html{
    background: $html;
  }
  &.js{
    background: $js;
  }
  &.php{
    background: $php;
  }
  &.jsfw{
    background: $jsfw;
  }
  &.phpfw{
    background: $phpfw;
  }
  &.easy{
    background: $easy;
  }
  &.normal{
    background: $normal;
  }
  &.hard{
    background: $hard;
    color:#fff
  }
  &__block{
    display: flex;
    padding: 15px 10px 5px 5px;
    flex-wrap: wrap;
  }
}

.c-contents{
    &__block{
    margin-top: 10px;
    padding: 0 15px 15px;
    }
    &__price{
      margin-top: 20px;
      font-size: 20px;
      color: $main-color;
      font-weight: bold;
    }
    &__detail{
      margin-top: 20px;
  }
}

.c-productNew{
  background: $bg;
  padding: 30px;
    &__title__head{
      font-size: 23px;
      line-height:31px;
      letter-spacing: 0.7px;
      color: $main-color;
      padding-bottom: 24px;
    }
    &__title__label{
      font-size: 14px;
      color: $main-color;
      margin-top: 8px;
      &--tags{
        margin-top: 24px;
      }
    }
    &__input-area{
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-top: 8px;
       &--detail{
        max-height: 500px;
      }
    }
    &__tagbox{
      background: white;
      margin-top: 8px;
      padding: 16px 16px 16px 0;
      border-radius: 5px;
    }
    &__categories{
        margin-top: 8px;
    }
    &__difficults{
      margin-top: 32px;
    }
    &__topWrapper{
      display: flex;
      justify-content: space-between;
      color: $main-color;
      align-items: baseline;
    }
    &__deleteLesson{
      font-size: 26px;
      margin-right: 12px;
    }
    &__title{
      font-size: 12px;
      margin-left: 16px;
    }
    &__detail{
      margin-top: 24px;
    }
    &__modal{
      font-size: 10px;
      margin: 5px 0 0 3px;
      @include pc{
        font-size: 14px;
        letter-spacing: -0.04px;
      }
      &__link{
        color:$main-color;
      }
    }
    &__checkbox{
      display: none;
    }
    &__label{
        padding-left: 20px;
        position:relative;
        margin-left: 16px;
        margin-top: 16px;
        line-height: 17px;
        display: inline-block;
        font-size: 12px;
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 13px;
            height: 13px;
            border-radius: 4px;
            background: #ffffff;
            border: 1px solid #333;
        }
    }
    &__checkbox:checked + .c-productNew__label{
        &::before{
          background: $main-color;
          border: none;
          width: 14px;
          height: 14px;
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 1px;
            left: 4px;
            width: 4px;
            height: 8px;
            transform: rotate(45deg);
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
        }
    }
    &__lessons{
      margin-top: 56px;
    }
    &__lesson{
      display: none;
      min-height: 250px;

      text-align: left;
        &__block{
          margin-top: 16px;
        }
        &__inner{
          margin-top: 40px;
        }
        &__header{
          display: flex;
          justify-content: flex-end;
          background: #fff;
          padding-right: 15px;
          padding-top: 8px;
          font-size: 24px;
          &__title{
            width: 100%;
            padding-left: 16px;
            padding-top: 5px;
            font-size: 12px;
          }
          &__input{
            display: none;
          }
          &__toggleIcon{
            display: none;
            margin-right: 16px;
            color: $main-color;
            &.active{
              display: block;
            }
          }
          &__imgIcon{
            color: $main-color;
          }
    }
    &.active{
      display: block;
    }
    &--textarea{
      min-height: 250px;
      width: 100%;
      box-sizing: border-box;
      max-height: 500px;
    }
    &--preview{
      padding: 24px 16px;
      min-height: 250px;
      background: #fff;
      box-sizing: border-box;
      max-height: 700px;
    }
    &__addBtn{
      text-align: center;
      margin-top: 16px;
      &__btn{
        color: $main-color;
      }
    }
  }
  &__skills{
    margin-top: 32px;
    &__title{
      color: $main-color;

    }
  }
  &__images{
    margin-top: 32px;
    &__half{
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }
  }
  &__image{
    &__area{
      width: 30%;
      height: 100px;
      background: #f6f5f4;
      color: #ccc;
      text-align: center;
      line-height: 140px;
      position: relative;
      display: inline-block;
      background-image:url('/storage/images/add_img.png');
      background-position: center;
      background-size: contain;
      border-radius: 15px;
      overflow: hidden;
    }
    &__input{
      width: 30%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
    &__img{
      max-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }
  }
  &__submit{
  margin: 8px auto 0;
  text-align: center;
  width: 75%;
  color: #ffffff;
  background: orange;
  border-radius: 10px;
  @include pc{
    width: 100%;
  }
  &--draft{
    margin-top: 32px;
    background: $easy;
  }
  &__button{
      padding: 10px;
      height: 100%;
      width: 100%;
      color: #ffffff;
      font-size: 14px;
    }
  }
  &__error{
    font-size: 12px;
    padding-left: 8px;
    color: red;
    margin-top: 8px;
    display: block;
  }

}
//支払いボタンのスタイル上書き
#payjp_checkout_box input[type=button]{
  background: orange !important;
  background-image: none !important;
  border: none !important;
  padding: 0 !important;
}

.c-productShow{
  background: $bg;
  padding: 20px;
  &__img{
    background: white;
    height: 50vw;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
  }
  &__slider{
    &__container{
      height: 100%;
      position: relative;
    }
    &__noimage{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }
    &__item{
      height: 100%;
      width: 90vw;
      position: relative;
      float: left;
      &__img{
        width: 100%;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          margin: auto;
      }
    }
    &__nav{
      width: 20px;
      height: 20px;
      position: absolute;
      cursor: pointer;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      &.prev{
        left: 6px;
      }
      &.next{
        right: 12px;
      }
    }
  }
  &__price{
    margin-top: 16px;
    font-size: 20px;
    font-weight: bold;
    color: $main-color;

    &.is-inactive{
      text-decoration:line-through;
    }
    &--discount{
      margin-top: 8px;
      color: red;
    }
    &__discount{
      font-size: 12px;
      padding-left: 8px;
    }
  }
  &__editIcon{
    text-align: right;
    margin-top: 16px;
    font-size: 20px;
    color: $main-color;
    >a{
      color: $main-color;
    }
  }
  &__title{
    margin-top: 16px;
    font-size: 20px;
    line-height: 1.2;
    &__text{
      display: flex;
      align-items: center;
    }
  }
  &__draft{
    background: $hard;
    color: white;
    font-size: 14px;
    font-weight: normal;
    padding: 7px 15px;
    border-radius: 5px;
    margin-left: 16px;
  }
  &__detail{
    margin-top: 16px;
    line-height: 1.2;
    font-size: 12px;
  }
  &__user{
    display: flex;
  }
 &__userimg{
    background-image: url('/storage/images/noavatar.png');
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
   }
 }
  &__username{
    margin-left: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  &__updated{
    margin-top: 3px;
    font-size: 10px;
  }
  &__like{
    margin: 64px auto 0;
    z-index: 3;
    background: $main-color;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    box-sizing: border-box;
  }
  &__buynow{
    margin: 8px auto 0;
    z-index: 3;
    background: orange;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    box-sizing: border-box;
    &#payjp_checkout_box input[type=button]{
      background: $bg !important;
      background-image: none !important;
    }
  }
  &__curriculum{
    margin-top: 32px;
    &__head{
      color: $main-color;
    }
  }

  &__lessons{
    margin-top: 32px;
  }
  &__lesson{
    margin-top: 24px;
    &__title{
      margin-top: 12px;
      line-height: 1.5;
      font-size: 14px;
    }
  }
  &__curriculumBlock{
    margin-top: 32px;
  }
  &__requireSkills{
    margin-top: 64px;
    &__head{
      color: $main-color;
    }
    &__text{
      margin-top: 32px;
    }
  }
  &__toLesson{
    margin: 60px auto 0;
    z-index: 3;
    background: orange;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 12px;
    padding: 14px;
    border-radius: 7px;
    box-sizing: border-box;
  }
  &__toBord{
    margin: 16px auto 0;
    z-index: 3;
    background: #7DD4BC;
    text-align: center;
    width: 100%;
    font-size: 12px;
    padding: 14px;
    border-radius: 7px;
    box-sizing: border-box;
  }

  &__toLessonPage{
    padding: 16px;
    font-size: 12px;
    border-bottom: 1px solid $main-color;
    color: #585858;
    background: #CBEDE4;
    a{
      color: #585858;
    }
    &:first-child{
      border-radius: 8px 8px 0 0;
    }
    &:last-child{
      border-radius: 0 0 8px 8px;
      border-bottom: none;
    }
  }

}

.c-productEdit{
  background: $bg;
  padding: 30px;
    &__input-area{
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-top: 16px;
       &--detail{
        max-height: 500px;
      }
    }
    &__tagbox{
      background: white;
      margin-top: 32px;
      padding: 16px 16px 16px 0;
      border-radius: 5px;
    }
    &__categories{
        margin-top: 8px;
    }
    &__difficults{
      margin-top: 32px;
    }
    &__topWrapper{
      display: flex;
      justify-content: space-between;
      color: $main-color;
    }
    &__deleteLesson{
      font-size: 26px;
      margin-right: 12px;
    }
    &__title{
      font-size: 12px;
      margin-left: 16px;
    }
    &__detail{
      margin-top: 24px;
    }
    &__modal{
      font-size: 10px;
      margin: 5px 0 0 3px;
    }
    &__checkbox{
      display: none;
    }
    &__label{
        padding-left: 20px;
        position:relative;
        margin-left: 16px;
        margin-top: 16px;
        line-height: 17px;
        display: inline-block;
        font-size: 12px;
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 13px;
            height: 13px;
            border-radius: 4px;
            background: #ffffff;
            border: 1px solid #333;
        }
    }
    &__checkbox:checked + .c-productEdit__label{
        &::before{
          background: $main-color;
          border: none;
          width: 14px;
          height: 14px;
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 1px;
            left: 4px;
            width: 4px;
            height: 8px;
            transform: rotate(45deg);
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
        }
    }
    &__lessons{
      margin-top: 56px;
    }
    &__lesson{
      display: none;
      min-height: 250px;

      text-align: left;
        &__block{
          margin-top: 16px;
        }
        &__inner{
          margin-top: 40px;
        }
        &__header{
          display: flex;
          justify-content: flex-end;
          background: #fff;
          padding-right: 15px;
          padding-top: 8px;
          font-size: 24px;
          &__title{
            width: 100%;
            padding-left: 16px;
            padding-top: 5px;
            font-size: 16px;
          }
          &__input{
            display: none;
          }
          &__toggleIcon{
            display: none;
            margin-right: 16px;
            color: $main-color;
            &.active{
              display: block;
            }
          }
          &__imgIcon{
            color: $main-color;
          }
    }
    &.active{
      display: block;
    }
    &--textarea{
      min-height: 250px;
      width: 100%;
      box-sizing: border-box;
      max-height: 500px;
    }
    &--preview{
      padding: 24px 16px;
      min-height: 250px;
      background: #fff;
      max-height: 700px;
    }
    &__addBtn{
      text-align: center;
      margin-top: 16px;
      &__btn{
        color: $main-color;
      }
    }
  }
  &__price{
    margin-top: 32px;
  }
  &__discount-price {
    margin-top: 32px;
  }
  &__skills{
    margin-top: 32px;
    &__title{
      color: $main-color;

    }
  }
  &__images{
    margin-top: 32px;
    &__half{
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }
  }
  &__image{
    &__area{
      width: 30%;
      height: 80px;
      overflow: hidden;
      background: #f6f5f4;
      color: #ccc;
      text-align: center;
      line-height: 140px;
      position: relative;
      display: inline-block;
      background-image:url('/storage/images/add_img.png');
      background-position: center;
      background-size: contain;
      border-radius: 15px;
      overflow: hidden;
    }
    &__input{
      width: 30%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
    &__img{
      max-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }
  }
  &__submit{
  margin: 8px auto 0;
  text-align: center;
  width: 75%;
  color: #ffffff;
  background: orange;
  border-radius: 10px;
  &--draft{
    margin-top: 32px;
    background: $easy;
  }
  &__button{
    padding: 10px;
    width: 100%;
    height: 100%;
      color: #ffffff;
      font-size: 14px;

    }
  }

}



.c-product__input-area{
    border: solid 1px #000;
    width: 100%;
    box-sizing: border-box;
    &--number{
        width: 30px;
    }
    &--textarea{
        height: 100%;
    }
}

.c-submit__button{
    width: 100%;
    border: 1px solid #333;

}

.c-edit__button{
    text-align: right;
}


//ページネーションはDOM自動生成なので、自動で付与されたclass名にスタイルをあてる
.c-pagination{
    margin-top: 20px;
    .pagination{
        display: flex;
        justify-content: center;
    }
    .page-item{
        border: 1px solid #000;
        padding: 6px;
        margin-left: 5px;
        &.active{
            background: #333333;
            color: white;
        }
    }
    .page-link{
        text-decoration: none;
    }
    &__prev{
      &--angle{
        font-size: 25px;
        color: $main-color;
      }
      &.inactive{
        color: $easy;
      }
    }
    &__next{
      &--angle{
        color: $main-color;
        font-size: 25px;
      }
      &.inactive{
        color: $easy;
      }
    }
    &__count{
      margin: 0 25px;
      line-height: initial;
      @include pc{
        font-size: 20px;
      }
    }

}
.c-ajaxLike__icon{
    color: white;
    font-size: 12px;
    &.is-active{
        color:red;
    }
}

.c-ajaxFollow__icon{
    &.is-active{
        color: red;
    }
}
.c-ajaxCart__icon{
    color: white;
    font-size: 12px;
    &.is-inCart{
        color: red;
    }
}
