.c-product{
  &__index{
    padding-bottom: 16px;
    @include pc{
      padding-bottom: 64px;
    }
  }
  &__area{
    @include pc{
    max-width: 900px;
    margin: 60px auto 90px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px;
    }
  }
  &__block{
    width: 280px;
    max-width: 280px;
    margin: 30px auto 0;
    overflow-wrap:break-word;
    box-shadow: 0 20px 30px -15px rgba(89,0,0,0.08);
    transition: 0.2s ease-in-out;
    animation: cardSlideIn 0.4s ease-in-out;
    padding: 10px 15px 0;
    box-sizing: border-box;
    background:$p_bg;
    border-radius: 10px;

    @include pc{
      width: 32%;
      margin: 30px 2% 0 0;
      max-width: 288px;
      &:nth-child(3n){
        margin-right: 0;
      }

    }
    &:hover{
      opacity: 0.6;

    }
  }
  &__title{
    width: 280px;
    margin: 32px auto 0;
    color: $main-color;
    @include pc{
      width: 520px;
      font-size: 30px;
      margin: 64px auto 0;
      letter-spacing: 3px;
      h2{
      font-weight: normal;

      }
    }
  }
  &__img{
    background: white;
    width: 280px;
    height: 150px;
    margin: 0 auto;
    border-radius: 15px;
  }
}

//ページング件数表示
.c-paging{
    text-align: center;
    margin-top: 20px;
    background: $bg;
    padding: 10px 0;
    @include pc{
      margin:0 auto;
      max-width: 900px;
    }
}
.c-product__link{
    cursor: pointer;
}

//検索ボックス
.c-searchBox{
    background: $bg;
    @include pc{
      background: #fff;
    }
    &__inner{
        padding: 24px;
        @include pc{
          max-width: 800px;
          margin: 0 auto;
        }
    }

    &__categories{
        margin-top: 8px;
    }
    &__difficults{
      margin-top: 20px;
      padding-top: 20px;
      border-top: 3px solid $main-color;
      @include pc{
        border: none;
      }
    }
    &__title{
      font-size: 12px;
      @include pc{
        font-size: 16px;
      }
    }
    &__body{
      @include pc{
        width: 100%;
        margin-top: 5px;
        padding: 10px 0 20px 50px;
        background: $bg;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;

      }
    }
    &__checkbox{
      display: none;
    }
    &__label{
        padding-left: 20px;
        position:relative;
        margin-right: 15px;
        margin-top: 15px;
        line-height: 1.41;
        display: inline-block;
        font-size: 12px;
        @include pc{
          width: 28%;
          font-size: 16px;
        }
        span{
          cursor: pointer;
        }
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 15px;
            border-radius: 4px;
            background: #ffffff;
        }
    }
    &__checkbox:checked + .c-searchBox__label{
        &::before{
          background: $main-color;
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 2px;
            left: 5px;
            width: 4px;
            height: 8px;
            transform: rotate(45deg);
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
        }
    }
    &__submit{
      margin: 24px auto 0;
      text-align: center;
      width: 75%;
      color: #ffffff;
      background: orange;
      border-radius: 7px;
      transition: all .3s;
      @include pc{
        width: 100%;
        margin: 32px auto 0;
      }
      &:hover{
      transition: all .3s;
      opacity: 0.7;
    }
  }
  &__button{
    padding: 10px;
    color: #ffffff;
    height: 100%;
    width: 100%;
    transition: all .3s;
      &:hover{
        transition: all .3s;
        opacity: 0.7;
        cursor: pointer;
      }

      @include pc{
        font-size: 16px;
      }
    }

}

//プロダクトのブロック
.c-image__block{
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}

.c-image{
    max-width: 100%;
}

.c-tag{
  font-size: 11px;
  border-radius: 5px;
  padding: 3px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
  height: fit-content;
  @include pc{
      font-size: 12px;
  }

  &.html{
    background: $html;
  }
  &.js{
    background: $js;
  }
  &.php{
    background: $php;
  }
  &.jsfw{
    background: $jsfw;
  }
  &.phpfw{
    background: $phpfw;
  }
  &.ruby{
    background: $ruby;
  }
  &.rubyfw{
    background: $ruby;
  }
  &.easy{
    background: $easy;
  }
  &.normal{
    background: $normal;
  }
  &.hard{
    background: $hard;
    color:#fff
  }
  &__block{
    display: flex;
    padding: 15px 0 8px 12px;
    flex-wrap: wrap;
    height: 45px;
    overflow: hidden;
  }
}

.c-contents{
    &__block{
    padding: 0 15px 15px;
    }
    &__title{
      font-size: 17px;
      line-height: 1.18;
      height: 45px;
      overflow: hidden;
      margin-top: 3px;
    }
    &__price{
      margin-top: 8px;
      font-size: 23px;
      color: $main-color;
      font-weight: bold;
      line-height: 1.35;
      letter-spacing: 0.7px;
      margin-top: 8px;
    }
    &__detail{
      font-size: 13px;
      line-height: 1.38;
      height: 26px;
      overflow: hidden;
  }
}

.c-productNew{
  background: $bg;
  padding: 30px;
    @include pc{
      background: white;
    }
    &__wrapper{
      @include pc{
        // max-width: 900px;
        // margin: 0 auto;
      }
    }
    &__title__head{
      font-size: 23px;
      line-height:1.35;
      letter-spacing: 0.7px;
      color: $main-color;
      padding-bottom: 24px;
      @include pc{
        // max-width: 900px;
        margin: 0 auto;
      }

    }
    &__title__label{
      font-size: 14px;
      color: $main-text;
      margin-top: 8px;
      &--picText{
        font-size: 12px;
      }
      @include pc{
        font-size: 18px;
      }
      &--tags{
        margin-top: 24px;
      }
      &--discount{
        color: $main-color;
      }
    }
    &__input-area{
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-top: 8px;
      @include pc{
        background: $bg;
    }
       &--detail{
        max-height: 500px;
      }
       &--discount{
         border: 1px solid $main-color;

       }
    }
    &__tagbox{
      background: white;
      margin-top: 8px;
      padding: 16px 16px 16px 0;
      border-radius: 5px;
      @include pc{
        background: $bg;
    }
    }
    &__categories{
        margin-top: 8px;
    }
    &__difficults{
      margin-top: 32px;
    }
    &__topWrapper{
      display: flex;
      justify-content: space-between;
      color: $main-color;
      align-items: baseline;
    }
    &__deleteLesson{
      font-size: 26px;
      margin-right: 12px;
      cursor: pointer;
      transition: all 0.3s;
       &:hover{
        opacity: 0.7;
        transition: all 0.3s;
      }
    }
    &__title{
      font-size: 12px;
      margin-left: 16px;
    }
    &__detail{
      margin-top: 24px;
    }
    &__modal{
      font-size: 12px;
      margin: 8px 0 0 0;
      @include pc{
        font-size: 14px;
        letter-spacing: -0.04px;
      }
      &__link{
        color:$main-color;
        &:visited{
          color:$main-color;
        }
      }
    }
    &__checkbox{
      display: none;
    }
    &__label{
        padding-left: 20px;
        position:relative;
        margin-left: 16px;
        margin-top: 16px;
        line-height: 1.41;
        display: inline-block;
        font-size: 12px;
        span{
          cursor: pointer;
        }
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 13px;
            height: 13px;
            border-radius: 4px;
            background: #ffffff;
            border: 1px solid #333;
        }
    }
    &__checkbox:checked + .c-productNew__label{
        &::before{
          background: $main-color;
          border: none;
          width: 14px;
          height: 14px;
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 1px;
            left: 4px;
            width: 4px;
            height: 8px;
            transform: rotate(45deg);
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
        }
    }
    &__lessons{
      margin-top: 32px;
      &__head{
        font-size: 20px;
        margin-top: 56px;
        font-weight: bold;
        color: $main-color;
      }
    }
    &__lesson{
      display: none;
      min-height: 300px;
      @include pc{
        display: block;
       }

      text-align: left;
        &__block{
          margin-top: 16px;
          @include pc{
             display: flex;
             justify-content: space-between;
           }

        }
        &__inner{
          margin-top: 40px;
          }
        &__pcWrapper{
            @include pc{
                width: 49%;
              }

        }
        &__header{
          display: flex;
          justify-content: flex-end;
          background: #fff;
          padding-right: 15px;
          padding-top: 8px;
          font-size: 24px;
          @include pc{
            background: $bg;
            border-radius: 8px 8px 0 0;
          }
          &__title{
            width: 100%;
            padding-left: 16px;
            padding-top: 5px;
            font-size: 12px;
          }
          &__input{
            display: none;
          }
          &__toggleIcon{
            display: none;
            margin-right: 16px;
            color: $main-color;
            @include pc{
              display: none;
           }
           &.active{
             display: block;
                @include pc{
                  display: none;
               }
            }
          }
          &__imgIcon{
            color: $main-color;
             &__icon{
              cursor: pointer;
              transition: all 0.3s;
              &:hover{
                opacity: 0.7;
                transition: all 0.3s;
              }
            }
          }
    }
    &.active{
      display: block;
    }
    &--textarea{
      min-height: 300px;
      width: 100%;
      box-sizing: border-box;
      max-height: 500px;
      @include pc{
        min-height: 300px;
        background: $bg;
        border-radius: 0 0 8px 8px;
      }
    }
    &--preview{
      padding: 24px 16px;
      min-height: 300px;
      background: #fff;
      box-sizing: border-box;
      max-height: 700px;
      overflow: auto;
      @include pc{
        width: 49%;
        border: 1px solid $main-color;
        border-radius: 8px;

        max-height: 500px;
      }
    }
    &__addBtn{
      text-align: center;
      margin-top: 16px;
      &__btn{
        color: $main-color;
        cursor: pointer;
        transition: all 0.3s;
         &:hover{
            opacity: 0.7;
            transition: all 0.3s;
          }
        @include pc{
          font-size: 18px;
        }
      }
    }
  }
  &__price{
    @include pc{
      margin: 0 auto;
    }
    &--wrap{
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      width: 100%;
      margin: 0 auto;
      &.date{
        justify-content: space-between;
        margin: 16px auto 0;
      }
      &--discount{
        align-items: flex-end;
      }
    }
    &--icon{
      padding-right: 8px;
      padding-top: 16px;
      height: 38px;
      vertical-align: top;
      line-height: 38px;
      @include pc{
      font-size: 20px;
      margin-right: 8px;
    }
    &--discount{
        height: auto;
        vertical-align: auto;
        line-height: normal;
        padding-bottom: 5px;
      }
    }
    &__inputWrapper{
      width: 100%;
    }

  }
  &__skills{
    margin-top: 32px;
    &__title{
      color: $main-color;

    }
  }
  &__images{
    margin: 32px auto;
    @include pc{
      width: 80%;
    }
    &__half{
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }
  }
  &__image{
    &__area{
      width: 30%;
      height: 24vw;
      max-height: 218px;
      background: #fff;
      color: #ccc;
      text-align: center;
      line-height: 140px;
      position: relative;
      display: inline-block;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 15px;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.3s;
      &:hover{
        opacity: 0.3;
        transition: all 0.3s;
      }
      &.area1{
        background-image:url('/storage/images/add_img1.png');
      }
      &.area2{
        background-image:url('/storage/images/add_img2.png');
      }
      &.area3{
        background-image:url('/storage/images/add_img3.png');
      }
      &.area4{
        background-image:url('/storage/images/add_img4.png');
      }
      &.area5{
        background-image:url('/storage/images/add_img5.png');
      }
      &.area6{
        background-image:url('/storage/images/add_img6.png');
      }
      @include pc{
        border: 1px solid $main-color;
     }
    }
    &__input{
      width: 30%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
    &__img{
      max-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }
  }
  &__submit{
  margin: 8px auto 0;
  text-align: center;
  width: 75%;
  color: #ffffff;
  background: orange;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
    &:hover{
      opacity: 0.7;
      transition: all 0.3s;
    }
  @include pc{
    width: 80%;
  }
  &--draft{
    margin-top: 32px;
    background: $easy;
  }
  &__button{
      padding: 10px;
      height: 100%;
      width: 100%;
      color: #ffffff;
      font-size: 14px;
      cursor: pointer;
    }
  }
  &__error{
    font-size: 12px;
    padding-left: 8px;
    color: red;
    margin-top: 8px;
    display: block;
    &--default_price{
      margin: 8px auto 0;
    }
  }

}
//支払いボタンのスタイル上書き
#payjp_checkout_box input[type=button]{
  background: orange !important;
  background-image: none !important;
  border-radius: 7px !important;
  border: none !important;
  padding: 10px !important;
  font-size: 16px !important;
  width: 100%;
  height: 100%;
  transition: all .3s;
  &:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: all .3s;
  }
}

.c-productShow{
  background: $bg;
  padding: 20px 20px 48px;
  &__inner{
    @include pc{
      width: 520px;
      margin: 0 auto;
    }
  }
  &__img{
    background: white;
    height: 50vw;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    @include pc{
      height: 290px;
    }
  }
  &__slider{
    &__container{
      height: 100%;
      position: relative;
    }
    &__noimage{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }
    &__item{
      height: 100%;
      width: 90vw;
      position: relative;
      float: left;
      @include pc{
        width: 520px;
    }
      &__img{
        width: 100%;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          margin: auto;
      }
    }
    &__nav{
      width: 20px;
      height: 20px;
      position: absolute;
      cursor: pointer;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      &.prev{
        left: 6px;
      }
      &.next{
        right: 12px;
      }
    }
  }
  &__price{
    margin-top: 16px;
    font-size: 25px;
    font-weight: bold;
    color: $main-color;
    line-height: 1.24;
    letter-spacing: 0.76px;

    &.is-inactive{
      text-decoration:line-through;
      font-size: 16px;
    }
    &--discount{
      margin-top: 8px;
      color: red;
    }
    &__discount{
      font-size: 12px;
      padding-left: 8px;
    }
  }
  &__editMenuIcon{
    text-align: right;
    margin-top: 16px;
    font-size: 23px;
    color: $main-color;
    @include pc{
      font-size: 36px;
    }
    >a{
      color: $main-color;
    }
  }
   &__editMenu{
    width: 65px;
    margin: 16px 0 0 auto;
    font-size: 14px;
    display: flex;
    @include pc{
      font-size: 16px;
    }
    &__list{
      color: $main-text;
      cursor: pointer;
      display: block;
      margin-right: 24px;
      font-size: 24px;
      &:hover{
        opacity: 0.5;
      }
      a{
        display: block;
        color: $main-text;
        &:visited{
          color: $main-text;
        }
      }
      &--delete{
        // padding: 15px;
      }
    }
  }

  &__title{
    margin-top: 16px;
    font-size: 20px;
    line-height: 1.2;
    @include pc{
      margin-top: 32px;
    }
    &__text{
      display: flex;
      align-items: center;
      font-size: 23px;
      line-height: 1.35;
      letter-spacing: -0.13px;
      @include pc{
        font-size: 35px;
        line-height: 1.35;
        letter-spacing: 1.06px;
      }
    }
  }
  &__draft{
    background: $hard;
    color: white;
    font-size: 14px;
    font-weight: normal;
    padding: 7px 15px;
    border-radius: 5px;
    margin-left: 16px;
  }
  &__detail{
    margin-top: 16px;
    line-height: 1.2;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.4px;
  }
  &__user{
    display: flex;
  }
 &__userimg{
    background-image: url('/storage/images/noavatar.png');
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
   }
 }
  &__username{
    margin-left: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  &__updated{
    margin-top: 8px;
    font-size: 10px;
    @include pc{
      font-size: 13px;
    }

  }
  &__like{
    margin: 64px auto 0;
    &__btn{
      padding: 10px;
      width: 100%;
      height: 100%;
      color: white;
      border-radius: 8px;
      background: $main-color;
      font-size: 16px;
      transition: all .3s;
        &:hover{
        opacity: 0.5;
        cursor: pointer;
        transition: all .3s;
      }
      &.is-active{
        background: white;
        border: 1px solid $main-color;
        color:$main-color;
      }
    }
  }
  &__buynow{
    form{
      display: inline;

    }
    button{
      width: 100%;
      height: 100%;
    }
  }
  &__toLogin{
    margin: 60px auto 0;
    z-index: 3;
    background: orange;
    text-align: center;
    width: 80%;
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all .3s;
    &:hover{
      opacity: 0.5;
      transition: all .3s;
    }
    &__btn{
      padding: 14px;
      width: 100%;
      height: 100%;
      display: inline-block;
      color: white;
      box-sizing: border-box;
      transition: all .3s;
      &:visited{
        color: white;
      }
      &:hover{
        opacity: 1;
        transition: all .3s;
      }
    }
  }
  &__curriculum{
    margin-top: 24px;
    &__head{
      color: $main-color;
      font-size: 23px;
      line-height: 1.35;
    }
  }

  &__lessons{
  }
  &__lesson{
    margin-top: 24px;
    &__number{
      font-size: 18px;
      letter-spacing: 0.08px;
    }
    &__title{
      margin-top: 8px;
      line-height: 1.38;
      font-size: 16px;
      letter-spacing: 0.04px;
    }
  }
  &__number{
    font-size: 18px;
  }
  &__curriculumBlock{
    margin-top: 32px;
  }
  &__requireSkills{
    margin-top: 64px;
    &__head{
      color: $main-color;
      font-size: 23px;
      line-height: 1.35;
    }
    &__text{
      margin-top: 20px;
      font-size: 18px;
      line-height: 1.35;
      letter-spacing: 0.33px;
    }
  }
  &__toLesson{
    margin: 60px auto 0;
    z-index: 3;
    background: orange;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 15px;
    letter-spacing: -0.24px;
    border-radius: 11px;
    box-sizing: border-box;
    
    &__link{
      padding: 14px;
      display: inline-block;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
        &:hover{
        opacity: 0.5;
        background: white;
        color: $main-text;
        cursor: pointer;
      }
    }
  }
  &__toBord{
    margin: 16px auto 0;
    z-index: 3;
    background: #7DD4BC;
    text-align: center;
    width: 100%;
    font-size: 15px;
    letter-spacing: -0.24px;
    border-radius: 11px;
    box-sizing: border-box;
    &__link{
      padding: 14px;
      display: inline-block;
      height: 100%;
      width: 100%;
      box-sizing: border-box;

        &:hover{
        opacity: 0.5;
        background: white;
        color: $main-text;
        cursor: pointer;
      }
    }
  }

  &__toLessonPage{
    padding: 16px;
    font-size: 12px;
    border-bottom: 1px solid $main-color;
    color: #585858;
    background: #CBEDE4;
    a{
      color: #585858;
    }
    &:first-child{
      border-radius: 8px 8px 0 0;
    }
    &:last-child{
      border-radius: 0 0 8px 8px;
      border-bottom: none;
    }
  }

}

.c-productEdit{
  background: $bg;
  padding: 30px;
    @include pc{
      background: white;
    }
    &__input-area{
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-top: 8px;
      @include pc{
        background: $bg;
      }
       &--detail{
        max-height: 500px;
      }
    }
    &__tagbox{
      background: white;
      margin-top: 8px;
      padding: 16px 16px 16px 0;
      border-radius: 5px;
      @include pc{
        background: $bg;
      }
    }
    &__categories{
        margin-top: 8px;
    }
    &__difficults{
      margin-top: 32px;
    }
    &__topWrapper{
      display: flex;
      justify-content: space-between;
      color: $main-color;
    }
    &__deleteLesson{
      font-size: 26px;
      margin-right: 12px;
      cursor: pointer;
      &:hover{
        opacity: 0.7;
      }
    }
    &__title{
      font-size: 12px;
      margin-left: 16px;
    }
    &__detail{
      margin-top: 24px;
    }
    &__modal{
      font-size: 14px;
      margin: 5px 0 0 0;
    }
    &__checkbox{
      display: none;
    }
    &__label{
        padding-left: 20px;
        position:relative;
        margin-left: 16px;
        margin-top: 16px;
        line-height: 17px;
        display: inline-block;
        font-size: 12px;
        span{
          cursor: pointer;
        }
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 13px;
            height: 13px;
            border-radius: 4px;
            background: #ffffff;
            border: 1px solid #333;
        }
    }
    &__checkbox:checked + .c-productEdit__label{
        &::before{
          background: $main-color;
          border: none;
          width: 14px;
          height: 14px;
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 1px;
            left: 4px;
            width: 4px;
            height: 8px;
            transform: rotate(45deg);
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
        }
    }
    &__lessons{
      margin-top: 56px;
    }
    &__lesson{
      display: none;
      min-height: 300px;

      text-align: left;
        &__block{
          margin-top: 16px;
        }
        &__inner{
          margin-top: 40px;
        }
        &__header{
          display: flex;
          justify-content: flex-end;
          background: #fff;
          padding-right: 15px;
          padding-top: 8px;
          font-size: 24px;
          &__title{
            width: 100%;
            padding-left: 16px;
            padding-top: 5px;
            font-size: 16px;
          }
          &__input{
            display: none;
          }
          &__toggleIcon{
            display: none;
            margin-right: 16px;
            color: $main-color;
            &.active{
              display: block;
            }
          }
          &__imgIcon{
            color: $main-color;
            &__icon{
              cursor: pointer;
              &:hover{
                opacity: 0.7;
              }
            }
          }
       
    }
    &.active{
      display: block;
    }
    &--textarea{
      min-height: 300px;
      width: 100%;
      box-sizing: border-box;
      max-height: 500px;
    }
    &--preview{
      padding: 24px 16px;
      min-height: 300px;
      background: #fff;
      max-height: 700px;
    }
    &__addBtn{
      text-align: center;
      margin-top: 16px;
      &__btn{
        color: $main-color;
        font-size: 16px;
        cursor: pointer;
         &:hover{
           opacity: 0.7;
         }
      }
    }
  }
  &__price{
    margin-top: 32px;
  }
  &__discount-price{
    margin-top: 40px;
    &__date{
      width: 48%;
    }
    &__label{
      font-size: 14px;
    }
  }
  &__skills{
    margin-top: 32px;
    &__title{
      color: $main-color;

    }
  }
  &__images{
    margin-top: 32px;
    &__half{
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }
  }
  &__image{
    &__area{
      width: 30%;
      height: 25vw;
      overflow: hidden;
      background: #f6f5f4;
      color: #ccc;
      text-align: center;
      line-height: 140px;
      position: relative;
      display: inline-block;
      background-image:url('/storage/images/add_img.png');
      background-position: center;
      background-size: contain;
      border-radius: 15px;
      overflow: hidden;
      &:hover{
        opacity: 0.3;
        transition: all 0.3s;
      }
    }
    &__input{
      width: 30%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
    &__img{
      max-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }
  }
  &__submit{
  margin: 8px auto 0;
  text-align: center;
  width: 75%;
  color: #ffffff;
  background: orange;
  border-radius: 10px;
  cursor: pointer;
    &:hover{
      opacity: 0.7;
    }
  &--draft{
    margin-top: 32px;
    background: $easy;
  }
  &__button{
    padding: 10px;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    }
  }

}



.c-product__input-area{
    border: solid 1px #000;
    width: 100%;
    box-sizing: border-box;
    &--number{
        width: 30px;
    }
    &--textarea{
        height: 100%;
    }
}

.c-submit__button{
    width: 100%;
    border: 1px solid #333;

}

.c-edit__button{
    text-align: right;
}


//ページネーションはDOM自動生成なので、自動で付与されたclass名にスタイルをあてる
.c-pagination{
    margin-top: 20px;
    .pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .page-item{
        border: 1px solid #000;
        padding: 6px;
        margin-left: 5px;
        &.active{
            background: #333333;
            color: white;
        }
    }
    .page-link{
        text-decoration: none;
    }
    &__prev{
      &--angle{
        font-size: 25px;
        color: $main-color;
        &:hover{
          opacity: 0.5;
          cursor: pointer;
        }
      }
      &.inactive{
        color: $easy;
      }
    }
    &__next{
      &--angle{
        color: $main-color;
        font-size: 25px;
          &:hover{
          opacity: 0.5;
          cursor: pointer;
        }
      }
      &.inactive{
        color: $easy;
      }
    }
    &__count{
      margin: 0 25px;
      line-height: initial;
      @include pc{
        font-size: 20px;
      }
    }
    li{
      list-style: none;
    }
}

.c-ajaxFollow__icon{
    &.is-active{
        color: red;
    }
}
.c-ajaxCart__icon{
    color: white;
    font-size: 12px;
    &.is-inCart{
        color: red;
    }
}
