.c-profile{
    padding: 16px 32px 32px;
    text-align: center;
    background: $bg;
    
    &__img{
        margin: 10px auto 0;
        text-align: center;
        &>img{
            width: 130px;
            height: 130px;
            margin: 0 auto;
            display: block;
            border-radius: 50%;
        }
    }
    &__edit{
        color: $main-color;
        margin-left: 8px;
    }
    &__name{
        font-size: 18px;
    margin-top: 16px;
    line-height: 1.2;
    color: $main-color;
    }

    &__title{
        margin-top: 8px;
        color: $main-color;
        font-size: 12px;
        &--sale{
            margin-top: 80px;
            color: $main-color;
            font-size: 16px;
            text-align: center;

        }
    }

    &__detail{
        margin-top: 16px;
        line-height: 1.2;
        font-size: 12px;
    }
}

.c-profileEdit{
    background: $bg;
    padding: 30px;
    &__inner{
        margin-top: 32px;
    }
    &__title{
        margin-top: 16px;
        font-size: 20px; 
        color: $main-color;
        text-align: center;
    }
    &__img-area{
        width: 250px;
        margin: 0 auto;
    }
    &__img{
        display: flex;
        justify-content: center;
        border-radius: 50%;
        &__label{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            background: #fff;
            color: #ccc;
            text-align: center;
            line-height: 140px;
            position: relative;
            display: block;
        }
        &__text{
            color: $main-color;
            margin: 16px auto 0;
            background: $low-gr;
            font-size: 12px;
            border-radius: 3px;
            padding: 5px 0px;
            width: 120px;
            display: block;
            text-align: center;
        }
        &__input{
            display: none;
        }
        &__img{
            width: 150px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    &__input-area{
        margin-top: 24px;
    }
    &__input-label{
        color: $main-text;
        padding: 5px 0;
        font-size: 10px;
    }
    &__input{
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        margin-top: 8px;
    }
    &__submit{
  margin: 8px auto 0;
  text-align: center;
  width: 75%;
  color: #ffffff;
  background: orange;
  padding: 10px;
  border-radius: 10px;

    &__button{
      color: #ffffff;
      font-size: 14px;
    }
  }
  
}