.c-product{
  &__index{
    padding-bottom: 16px;
    @include pc{
      padding-bottom: 64px;
    }
  }
  &__area{
    padding: 24px;
    @include pc{
    max-width: 900px;
    margin: 60px auto 90px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px;
    }
  }
  &__block{
    max-width: 366px;
    margin: 30px auto 0;
    overflow-wrap:break-word;
    box-shadow: 0 20px 30px -15px rgba(89,0,0,0.08);
    transition: 0.2s ease-in-out;
    animation: cardSlideIn 0.4s ease-in-out;
    padding: 10px 25px 0;
    box-sizing: border-box;
    background:$p_bg;
    border-radius: 10px;

    @include pc{
      width: 32%;
      margin: 30px 2% 0 0;
      max-width: 295px;
      &:nth-child(3n){
        margin-right: 0;
      }

    }
    &:hover{
      opacity: 0.6;

    }
  }
  &__title{
    width: 280px;
    margin: 32px auto 0;
    color: $main-color;
    @include pc{
      width: 520px;
      font-size: 30px;
      margin: 64px auto 0;
      letter-spacing: 3px;
      h2{
      font-weight: normal;

      }
    }
  }
  &__img{
    background: white;
    width: 280px;
    height: 150px;
    margin: 0 auto;
    border-radius: 15px;
  }
}

//ページング件数表示
.c-paging{
    text-align: center;
    margin-top: 20px;
    background: $bg;
    padding: 10px 0;
    @include pc{
      margin:0 auto;
      max-width: 900px;
    }
}
.c-product__link{
    cursor: pointer;
}

//検索ボックス
.c-searchBox{
    background: $bg;
    @include pc{
      background: #fff;
    }
    &__inner{
        padding: 24px;
        @include pc{
          max-width: 800px;
          margin: 0 auto;
        }
    }

    &__categories{
        margin-top: 8px;
    }
    &__difficults{
      margin-top: 20px;
      padding-top: 20px;
      border-top: 3px solid $main-color;
      @include pc{
        border: none;
      }
    }
    &__title{
      @include pc{
        font-size: 18px;
      }
    }
    &__body{
      @include pc{
        width: 100%;
        margin-top: 5px;
        padding: 10px 0 20px 50px;
        background: $bg;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;

      }
    }
    &__checkbox{
      display: none;
    }
    &__label{
        padding-left: 20px;
        position:relative;
        margin-right: 15px;
        margin-top: 15px;
        line-height: 1.41;
        display: inline-block;
        font-size: 14px;
        @include pc{
          width: 28%;
          font-size: 16px;
        }
        span{
          cursor: pointer;
        }
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 15px;
            border-radius: 4px;
            background: #ffffff;
        }
    }
    &__checkbox:checked + .c-searchBox__label{
        &::before{
          background: $main-color;
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 2px;
            left: 5px;
            width: 4px;
            height: 8px;
            transform: rotate(45deg);
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
        }
    }
    &__submit{
      margin: 24px auto 0;
      text-align: center;
      width: 75%;
      color: #ffffff;
      background: orange;
      border-radius: 7px;
      transition: all .3s;
      @include pc{
        width: 100%;
        margin: 32px auto 0;
      }
      &:hover{
      transition: all .3s;
      opacity: 0.7;
    }
  }
  &__button{
    padding: 8px;
    color: #ffffff;
    height: 100%;
    width: 100%;
    transition: all .3s;
    font-size: 16px;
      &:hover{
        transition: all .3s;
        opacity: 0.7;
        cursor: pointer;
      }

      @include pc{
        font-size: 16px;
      }
    }

}

//プロダクトのブロック
.c-image__block{
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}

.c-image{
    max-width: 100%;
    width: -webkit-fill-available;
}

.c-tag{
  font-size: 11px;
  border-radius: 5px;
  padding: 3px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
  height: fit-content;
  @include pc{
      font-size: 12px;
  }

  &.html{
    background: $html;
  }
  &.js{
    background: $js;
  }
  &.php{
    background: $php;
  }
  &.jsfw{
    background: $jsfw;
  }
  &.phpfw{
    background: $phpfw;
  }
  &.ruby{
    background: $ruby;
  }
  &.rubyfw{
    background: $ruby;
  }
  &.easy{
    background: $easy;
  }
  &.normal{
    background: $normal;
  }
  &.hard{
    background: $hard;
    color:#fff
  }
  &__block{
    display: flex;
    padding: 15px 0 8px;
    flex-wrap: wrap;
    height: 45px;
    overflow: hidden;
  }
}

.c-contents{
    &__block{
    padding: 0 0 15px;
    }
    &__title{
      font-size: 17px;
      line-height: 1.18;
      height: 45px;
      overflow: hidden;
      margin-top: 3px;
    }
    &__price{
      margin-top: 8px;
      font-size: 23px;
      color: $main-color;
      font-weight: bold;
      line-height: 1.35;
      letter-spacing: 0.7px;
      margin-top: 8px;
    }
    &__detail{
      font-size: 13px;
      line-height: 1.38;
      height: 26px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
}

.c-submit__button{
    width: 100%;
    border: 1px solid #333;

}

.c-edit__button{
    text-align: right;
}


//ページネーションはDOM自動生成なので、自動で付与されたclass名にスタイルをあてる
.c-pagination{
    margin-top: 20px;
    .pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .page-item{
        border: 1px solid #000;
        padding: 6px;
        margin-left: 5px;
        &.active{
            background: #333333;
            color: white;
        }
    }
    .page-link{
        text-decoration: none;
    }
    &__prev{
      &--angle{
        font-size: 25px;
        color: $main-color;
        &:hover{
          opacity: 0.5;
          cursor: pointer;
        }
      }
      &.inactive{
        color: $easy;
      }
    }
    &__next{
      &--angle{
        color: $main-color;
        font-size: 25px;
          &:hover{
          opacity: 0.5;
          cursor: pointer;
        }
      }
      &.inactive{
        color: $easy;
      }
    }
    &__count{
      margin: 0 25px;
      line-height: initial;
      @include pc{
        font-size: 20px;
      }
    }
    li{
      list-style: none;
    }
}
