.c-tag__list{
    position: relative;
    display: block;
    width: 48%;
}

.c-tag__title{
    border: 1px solid #333;
    padding: 8px 0;
}

.c-tag__lists{
    width: 100%;
}



.c-tag__checkbox{
    position: relative;
    box-sizing: border-box;
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    display: inline-block;
    margin: 0 20px 8px 0;
    padding: 12px 12px 12px 42px;
    border-radius: 8px;
    background-color: #f6f7f8;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
        background-color: #e2edd7;
       
        &:after {
        border-color: #53b300;
            }
       }

    &:before{
        -webkit-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
        position: absolute;
        top: 50%;
        left: 21px;
        display: block;
        margin-top: -7px;
        width: 5px;
        height: 9px;
        border-right: 3px solid #53b300;
        border-bottom: 3px solid #53b300;
        content: '';
        opacity: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

}

.c-tag__label{
    background: #333;
    color: #fff;
    display: block;
    margin-bottom: 1px;
    padding: 10px;
    cursor: pointer;
}