.c-top{
    color: $text;

    &__fv{
        padding: 0 16px 16px;
    }
    &__fvImg{
        height: 250px;
        background: $bg;
    }
    &__fvMsg{
        h2{
            font-size: 24px;
            margin: 24px 0;
        }
        
    }
    &__text{
        color: $text;
        &--fvMsg{
            font-size: 12px;
        }
        &--subject{
            margin-top: 16px;
            text-align: center;
        }
        &--title{
            margin-top: 16px;
            text-align: center;
        }
        &--recommend{
            font-size: 10px;
        }
    }
    &__button{
        text-align: center;
        margin-top: 10px;
        &--link{
            display: inline-block;
            padding: 15px 40px;
            border-radius: 40px;
            background: orange;
        }
    }
    &__outputSample{
        text-align: center;
        background: $bg;
    }
    &__outputImgs{
        text-align: center;
    }
    &__outputImg{
        border: $test;
        height: 100px;
        width: 100px;
        margin: 24px auto 0;
    }
    &__recommends{
        padding: 0 10px;
    }
    &__recommend{
        text-align: center;
        border: $test;
    }
    &__recommendImg{
        width: 100px;
        height: 100px;
        border: $test;
        margin: 0 auto;
    }

    &__features{
        padding: 0 10px;
        border: $test;
        &__title{
            
            text-align: center;
        }
    }

    &__feature{
        margin-top: 24px;

    }
}