html{
     margin: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
    color: $main-text;
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
}
main{
    padding-top: $header-height;
    @include pc{
    padding-top: 70px;
}

}
input{
    box-sizing: border-box;
    border:none;
    font-size: 16px;
}
div,span,p,h1,h2,h3,h4,h5,li,a{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

textarea{
    border:none;
    box-sizing: border-box;
    font-size: 16px;
    padding: 16px;
}

a:visited{
    color: none;
}

button{
    border: none;
    background:none;
    cursor: pointer;
    transition: all .3s;
}

.container{
    position: relative;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}
label.error{
    font-size: 12px;
    padding-left: 8px;
    color: red;
    margin-top: 8px;
    display: block;
}
span.error{
    font-size: 12px;
    padding-left: 8px;
    color: red;
    margin-top: 8px;
    display: block;
}
.required{
    margin-left: 8px;
    padding: 1px 4px;
    background: $btn;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    vertical-align: top;
    position: relative;
    @include pc{
      top: 1px;
    }
}
.options{
    margin-left: 8px;
    padding: 1px 4px;
    background: $main-text;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    vertical-align: top;
    position: relative;
    @include pc{
      top: 1px;
    }
}

a:hover{
    opacity: 0.3;
    transition: all .3s;
}

button:hover{
    opacity: 0.7;
    transition: all .3s;
}