.new{
    .new__wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
        @include pc{
              
            background-color: red;
            }
    }    

    .new__input-area{
        border: solid 1px #000;
    } 
}