.p-product__block{
    width: 280px;
    margin: 30px auto 0;
    overflow-wrap:break-word;
    box-shadow: 0 20px 30px -15px rgba(89,0,0,0.08);
    transition: 0.2s ease-in-out;
    animation: cardSlideIn 0.4s ease-in-out;
}