.p-input__tag{

    margin-top: 5px;
}

.p-tags{
    display: flex;
    justify-content: space-between;
}

.p-input__detail{
    margin-top: 5px;
}

.p-lesson{
    margin-top: 5px;
    &__lesson{
        margin-top: 5px;
    }
}
