@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

.header {
  height: 60px;
  background: #bab4b4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 15px 0 0 15px;
}

.l-product .l-product__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32px 16px;
}

@media (min-width: 481px) {
  .l-product .l-product__wrapper {
    background-color: red;
  }
}

.l-productShow__wrapper {
  padding: 0 20px;
}

.c-top {
  color: #484848;
}

.c-top__fv {
  padding: 0 16px 16px;
}

.c-top__fvImg {
  height: 250px;
  background: #E5F6F2;
}

.c-top__fvMsg h2 {
  font-size: 24px;
  margin: 24px 0;
}

.c-top__text {
  color: #484848;
}

.c-top__text--fvMsg {
  font-size: 12px;
}

.c-top__text--subject {
  margin-top: 16px;
  text-align: center;
}

.c-top__text--title {
  margin-top: 16px;
  text-align: center;
}

.c-top__text--recommend {
  font-size: 10px;
}

.c-top__button {
  text-align: center;
  margin-top: 10px;
}

.c-top__button--link {
  display: inline-block;
  padding: 15px 40px;
  border-radius: 40px;
  background: orange;
}

.c-top__outputSample {
  text-align: center;
  background: #E5F6F2;
}

.c-top__outputImgs {
  text-align: center;
}

.c-top__outputImg {
  border: 1px solid #333;
  height: 100px;
  width: 100px;
  margin: 24px auto 0;
}

.c-top__recommends {
  padding: 0 10px;
}

.c-top__recommend {
  text-align: center;
  border: 1px solid #333;
}

.c-top__recommendImg {
  width: 100px;
  height: 100px;
  border: 1px solid #333;
  margin: 0 auto;
}

.c-top__features {
  padding: 0 10px;
  border: 1px solid #333;
}

.c-top__features__title {
  text-align: center;
}

.c-top__feature {
  margin-top: 24px;
}

.global-nav {
  position: fixed;
  right: -320px;
  /* これで隠れる */
  top: 0;
  width: 300px;
  /* スマホに収まるくらい */
  height: 100vh;
  padding-top: 40px;
  background-color: #fff;
  transition: all 0.6s;
  z-index: 200;
  overflow-y: auto;
  /* メニューが多くなったらスクロールできるように */
}

.hamburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 60px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  left: 11px;
  width: 35px;
  height: 3px;
  background-color: #00ac7d;
  transition: all 0.6s;
}

.hamburger__line--1 {
  top: 14px;
}

.hamburger__line--2 {
  top: 21px;
}

.hamburger__line--3 {
  top: 28px;
}

.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.global-nav__item {
  text-align: center;
  padding: 0 14px;
}

.global-nav__item a {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #111;
}

.global-nav__item a:hover {
  background-color: #eee;
}

.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  cursor: pointer;
}

/* 表示された時用のCSS */

.nav-open .global-nav {
  right: 0;
}

.nav-open .black-bg {
  opacity: 0.8;
  visibility: visible;
}

.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}

.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}

.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}

.c-pageTitle {
  font-size: 36px;
}

.c-input__area {
  width: 160px;
  margin: 0 auto;
  text-align: left;
}

.c-input__area:not(:first-child) {
  margin-top: 10px;
}

.c-input__area--another {
  text-align: center;
}

.c-input__form {
  height: 15px;
  width: 100%;
  border: 1px solid;
}

.c-input__remember {
  width: 160px;
  margin: 0 auto;
  text-align: left;
}

.c-button__block {
  margin-top: 20px;
  width: 100%;
}

.c-button {
  width: 100%;
  border: 1px solid #000;
}

.c-product__block {
  width: 280px;
  margin: 30px auto 0;
  overflow-wrap: break-word;
  box-shadow: 0 20px 30px -15px rgba(89, 0, 0, 0.08);
  transition: 0.2s ease-in-out;
  -webkit-animation: cardSlideIn 0.4s ease-in-out;
          animation: cardSlideIn 0.4s ease-in-out;
  padding: 10px 15px 0;
  box-sizing: border-box;
  background: #F5FBFA;
  border-radius: 10px;
}

.c-product__block:hover {
  opacity: 0.6;
}

.c-product__title {
  width: 280px;
  margin: 32px auto 0;
  color: #00ac7d;
}

.c-product__img {
  background: white;
  width: 280px;
  height: 150px;
  margin: 0 auto;
  border-radius: 15px;
}

.c-paging {
  text-align: center;
  margin-top: 20px;
  background: #E5F6F2;
  padding: 10px 0;
}

.c-product__link {
  cursor: pointer;
}

.c-searchBox {
  background: #E5F6F2;
}

.c-searchBox__inner {
  padding: 24px;
}

.c-searchBox__categories {
  margin-top: 8px;
}

.c-searchBox__difficults {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 3px solid #00ac7d;
}

.c-searchBox__title {
  font-size: 12px;
}

.c-searchBox__checkbox {
  display: none;
}

.c-searchBox__label {
  padding-left: 20px;
  position: relative;
  margin-right: 15px;
  margin-top: 15px;
  line-height: 17px;
  display: inline-block;
  font-size: 12px;
}

.c-searchBox__label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: #ffffff;
}

.c-searchBox__checkbox:checked + .c-searchBox__label::before {
  background: #00ac7d;
}

.c-searchBox__checkbox:checked + .c-searchBox__label::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  transform: rotate(45deg);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.c-searchBox__submit {
  margin: 24px auto 0;
  text-align: center;
  width: 75%;
  color: #ffffff;
  background: orange;
  padding: 10px;
  border-radius: 7px;
}

.c-searchBox__button {
  color: #ffffff;
}

.c-image__block {
  background: #E0E0E0;
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.c-image {
  max-width: 100%;
  max-height: 100%;
}

.c-tag {
  font-size: 10px;
  border-radius: 5px;
  padding: 3px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.c-tag--category:first-child {
  margin-left: 0;
}

.c-tag--difficulty:first-child {
  margin-left: 0;
}

.c-tag.html {
  background: #FFF578;
}

.c-tag.js {
  background: #78c6ff;
}

.c-tag.php {
  background: #FCB058;
}

.c-tag.jsfw {
  background: #ADE926;
}

.c-tag.phpfw {
  background: #FC9D93;
}

.c-tag.easy {
  background: #E0E0E0;
}

.c-tag.normal {
  background: #C3C3C3;
}

.c-tag.hard {
  background: #818181;
  color: #fff;
}

.c-tag__block {
  display: flex;
  padding: 15px 10px 5px 5px;
  flex-wrap: wrap;
}

.c-contents__block {
  margin-top: 10px;
  padding: 0 15px 15px;
}

.c-contents__price {
  margin-top: 20px;
  font-size: 20px;
  color: #00ac7d;
  font-weight: bold;
}

.c-contents__detail {
  margin-top: 20px;
}

.c-productNew {
  background: #E5F6F2;
  padding: 30px;
}

.c-productNew__input-area {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
}

.c-productNew__input-area--detail {
  min-height: 250px;
  max-height: 500px;
}

.c-productNew__tagbox {
  background: white;
  margin-top: 32px;
  padding: 16px 16px 16px 0;
  border-radius: 5px;
}

.c-productNew__categories {
  margin-top: 8px;
}

.c-productNew__difficults {
  margin-top: 32px;
}

.c-productNew__title {
  font-size: 12px;
  margin-left: 16px;
}

.c-productNew__detail {
  margin-top: 24px;
}

.c-productNew__modal {
  font-size: 10px;
  margin: 5px 0 0 3px;
}

.c-productNew__checkbox {
  display: none;
}

.c-productNew__label {
  padding-left: 20px;
  position: relative;
  margin-left: 16px;
  margin-top: 16px;
  line-height: 17px;
  display: inline-block;
  font-size: 12px;
}

.c-productNew__label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #333;
}

.c-productNew__checkbox:checked + .c-productNew__label::before {
  background: #00ac7d;
  border: none;
  width: 14px;
  height: 14px;
}

.c-productNew__checkbox:checked + .c-productNew__label::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  transform: rotate(45deg);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.c-productNew__lessons {
  margin-top: 56px;
}

.c-productNew__lesson {
  display: none;
  height: 250px;
  text-align: left;
}

.c-productNew__lesson__block {
  margin-top: 16px;
}

.c-productNew__lesson__inner {
  margin-top: 40px;
}

.c-productNew__lesson__header {
  display: flex;
  justify-content: flex-end;
  background: #fff;
  padding-right: 15px;
  padding-top: 8px;
  font-size: 24px;
}

.c-productNew__lesson__header__title {
  width: 100%;
  padding-left: 16px;
  padding-top: 5px;
  font-size: 16px;
}

.c-productNew__lesson__header__input {
  display: none;
}

.c-productNew__lesson__header__toggleIcon {
  display: none;
  margin-right: 16px;
}

.c-productNew__lesson__header__toggleIcon.active {
  display: block;
}

.c-productNew__lesson.active {
  display: block;
}

.c-productNew__lesson--textarea {
  min-height: 250px;
  width: 100%;
  box-sizing: border-box;
  max-height: 500px;
}

.c-productNew__lesson--preview {
  padding: 24px 16px;
  min-height: 250px;
  background: #fff;
  max-height: 700px;
}

.c-productShow {
  margin-bottom: 100px;
  background: #E5F6F2;
  padding: 20px;
}

.c-productShow__price {
  margin-top: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #00ac7d;
}

.c-productShow__price.is-inactive {
  text-decoration: line-through;
}

.c-productShow__title {
  margin-top: 16px;
  font-size: 20px;
  line-height: 1.2;
}

.c-productShow__detail {
  margin-top: 16px;
  line-height: 1.2;
  font-size: 12px;
}

.c-productShow__user {
  display: flex;
}

.c-productShow__userimg img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.c-productShow__username {
  margin-left: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.c-productShow__updated {
  margin-top: 3px;
  font-size: 10px;
}

.c-productShow__like {
  margin: 8px auto 0;
  z-index: 3;
  background: #00ac7d;
  text-align: center;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  box-sizing: border-box;
}

.c-productShow__buynow {
  margin: 8px auto 0;
  z-index: 3;
  background: orange;
  text-align: center;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  box-sizing: border-box;
}

.c-productShow__buynow#payjp_checkout_box input[type=button] {
  background: #E5F6F2 !important;
  background-image: none !important;
}

.c-productShow__curriculum {
  margin-top: 32px;
}

.c-productShow__curriculum__head {
  color: #00ac7d;
}

.c-productShow__lessons {
  margin-top: 32px;
}

.c-productShow__lesson {
  margin-top: 24px;
}

.c-productShow__lesson__title {
  margin-top: 12px;
  line-height: 1.5;
  font-size: 14px;
}

.c-productShow__curriculumBlock {
  margin-top: 32px;
}

#payjp_checkout_box input[type=button] {
  background-image: none !important;
  background: orange !important;
  border: none !important;
  padding: 0 !important;
}

.c-product__input-area {
  border: solid 1px #000;
  width: 100%;
  box-sizing: border-box;
}

.c-product__input-area--number {
  width: 30px;
}

.c-product__input-area--textarea {
  height: 100%;
}

.c-submit__button {
  width: 100%;
  border: 1px solid #333;
}

.c-edit__button {
  text-align: right;
}

.c-pagination {
  margin-top: 20px;
}

.c-pagination .pagination {
  display: flex;
  justify-content: center;
}

.c-pagination .page-item {
  border: 1px solid #000;
  padding: 6px;
  margin-left: 5px;
}

.c-pagination .page-item.active {
  background: #333333;
  color: white;
}

.c-pagination .page-link {
  text-decoration: none;
}

.c-pagination__prev--angle {
  font-size: 25px;
  color: #00ac7d;
}

.c-pagination__prev.inactive {
  color: #E0E0E0;
}

.c-pagination__next--angle {
  color: #00ac7d;
  font-size: 25px;
}

.c-pagination__next.inactive {
  color: #E0E0E0;
}

.c-pagination__count {
  margin: 0 25px;
  line-height: initial;
}

.c-ajaxLike__icon {
  color: white;
  font-size: 12px;
}

.c-ajaxLike__icon.is-active {
  color: red;
}

.c-ajaxFollow__icon.is-active {
  color: red;
}

.c-ajaxCart__icon {
  color: white;
  font-size: 12px;
}

.c-ajaxCart__icon.is-inCart {
  color: red;
}

.c-image__preview {
  width: 250px;
  margin: 0 auto;
}

.js-area__drop {
  width: 100%;
  height: 140px;
  background: #f6f5f4;
  color: #ccc;
  text-align: center;
  line-height: 140px;
  position: relative;
  display: block;
}

.c-input__file {
  opacity: 0;
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.c-prev__img {
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.c-tag__list {
  position: relative;
  display: block;
  width: 48%;
}

.c-tag__title {
  border: 1px solid #333;
  padding: 8px 0;
}

.c-tag__lists {
  width: 100%;
}

.c-tag__checkbox {
  position: relative;
  box-sizing: border-box;
  transition: background-color 0.2s linear;
  display: inline-block;
  margin: 0 20px 8px 0;
  padding: 12px 12px 12px 42px;
  border-radius: 8px;
  background-color: #f6f7f8;
  vertical-align: middle;
  cursor: pointer;
}

.c-tag__checkbox:hover {
  background-color: #e2edd7;
}

.c-tag__checkbox:hover:after {
  border-color: #53b300;
}

.c-tag__checkbox:before {
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 21px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 3px solid #53b300;
  border-bottom: 3px solid #53b300;
  content: "";
  opacity: 0;
  transform: rotate(45deg);
}

.c-tag__label {
  background: #333;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 10px;
  cursor: pointer;
}

.c-bords__head {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #333;
}

.c-bord__list {
  border: 1px solid #333;
  display: block;
  padding: 10px;
}

.c-bord__inner {
  display: flex;
}

.c-bord__userImg {
  width: 65px;
  height: 64px;
  border-radius: 50%;
}

.c-bord__userImg__wrapper {
  margin-right: 10px;
}

.c-bord__order {
  padding: 5px 12px;
  border-radius: 10px;
}

.c-bord__order.buy {
  background: blue;
}

.c-bord__order.sell {
  background: pink;
}

.c-profile {
  padding: 16px 32px 32px;
  text-align: center;
  background: #E5F6F2;
}

.c-profile__img {
  margin: 10px auto 0;
  text-align: center;
}

.c-profile__img > img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}

.c-profile__edit {
  color: #00ac7d;
  margin-left: 8px;
}

.c-profile__name {
  font-size: 18px;
  margin-top: 16px;
  line-height: 1.2;
  color: #00ac7d;
}

.c-profile__title {
  margin-top: 8px;
  color: #00ac7d;
  font-size: 12px;
}

.c-profile__title--sale {
  margin-top: 80px;
  color: #00ac7d;
  font-size: 16px;
  text-align: center;
}

.c-profile__detail {
  margin-top: 16px;
  line-height: 1.2;
  font-size: 12px;
}

.c-profileEdit {
  background: #E5F6F2;
  padding: 30px;
}

.c-profileEdit__title {
  margin-top: 16px;
  font-size: 16px;
  color: #00ac7d;
  text-align: center;
}

.c-profileEdit__img-area {
  width: 250px;
  margin: 0 auto;
}

.c-profileEdit__img__label {
  width: 100%;
  height: 140px;
  background: #f6f5f4;
  color: #ccc;
  text-align: center;
  line-height: 140px;
  position: relative;
  display: block;
}

.c-profileEdit__img__img {
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.c-profileEdit__input-area {
  margin-top: 24px;
}

.c-profileEdit__input-label {
  color: #484848;
  padding: 5px 0;
  font-size: 10px;
}

.c-profileEdit__input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-top: 8px;
}

.c-cart__block {
  border: 1px solid #333;
  margin-top: 16px;
}

.c-messages__head {
  height: 50px;
}

.c-message {
  padding: 15px;
  border: 1px solid #333;
  width: 250px;
  margin: 30px auto 0 15px;
}

.c-message.self {
  color: red;
  margin: 30px 15px 0 auto;
  overflow-wrap: break-word;
}

.c-login__inner {
  padding: 30px;
}

.c-login__title {
  font-size: 24px;
  color: #00ac7d;
}

.c-login__form-area {
  margin-top: 24px;
}

.c-login__input-area {
  margin-top: 24px;
}

.c-login__input-label {
  color: #484848;
  padding: 5px 0;
  font-size: 10px;
}

.c-login__input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-top: 8px;
}

.c-login__remember {
  margin-top: 16px;
  font-size: 10px;
}

.c-login__remember__checkbox {
  display: none;
}

.c-login__remember__label {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;
  line-height: 17px;
  display: inline-block;
}

.c-login__remember__label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: #ffffff;
}

.c-login__remember__checkbox:checked + .c-login__remember__label {
  color: #00ac7d;
}

.c-login__remember__checkbox:checked + .c-login__remember__label::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #00ac7d;
  border-right: 3px solid #00ac7d;
}

.c-login__forget {
  margin-top: 8px;
  display: inline-block;
  font-size: 10px;
}

.c-login__forget__link {
  color: #00ac7d;
  text-decoration: underline;
}

.c-login__forget__link:visited {
  color: #00ac7d;
}

.c-login__button {
  margin: 24px auto 0;
  text-align: center;
  width: 75%;
  color: #ffffff;
  background: orange;
  padding: 10px;
  border-radius: 7px;
}

.c-login__btn {
  color: #ffffff;
}

.c-login__to-register {
  text-align: center;
  color: #00ac7d;
  margin-top: 32px;
  border-top: 3px solid #00ac7d;
  padding-top: 32px;
}

.c-register__inner {
  padding: 30px;
}

.c-register__title {
  font-size: 24px;
  color: #00ac7d;
}

.c-register__form-area {
  margin-top: 24px;
}

.c-register__input-area {
  margin-top: 24px;
}

.c-register__input-label {
  color: #484848;
  padding: 5px 0;
  font-size: 10px;
}

.c-register__input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-top: 8px;
}

.c-register__remember {
  margin-top: 16px;
  font-size: 10px;
}

.c-register__remember__checkbox {
  display: none;
}

.c-register__remember__label {
  padding-left: 20px;
  position: relative;
  margin-right: 20px;
  line-height: 17px;
  display: inline-block;
}

.c-register__remember__label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: #ffffff;
}

.c-register__remember__checkbox:checked + .c-login__remember__label {
  color: #00ac7d;
}

.c-register__remember__checkbox:checked + .c-login__remember__label::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #00ac7d;
  border-right: 3px solid #00ac7d;
}

.c-register__forget {
  margin-top: 8px;
  display: inline-block;
  font-size: 10px;
}

.c-register__forget__link {
  color: #00ac7d;
  text-decoration: underline;
}

.c-register__forget__link:visited {
  color: #00ac7d;
}

.c-register__button {
  margin: 24px auto 0;
  text-align: center;
  width: 75%;
  color: #ffffff;
  background: orange;
  padding: 10px;
  border-radius: 7px;
}

.c-register__btn {
  color: #ffffff;
}

.c-register__to-login {
  text-align: center;
  color: #00ac7d;
  margin-top: 32px;
  border-top: 3px solid #00ac7d;
  padding-top: 32px;
}

#preview .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

#preview .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

#preview .anchor:focus {
  outline: none;
}

#preview h1 .octicon-link,
#preview h2 .octicon-link,
#preview h3 .octicon-link,
#preview h4 .octicon-link,
#preview h5 .octicon-link,
#preview h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

#preview h1:hover .anchor,
#preview h2:hover .anchor,
#preview h3:hover .anchor,
#preview h4:hover .anchor,
#preview h5:hover .anchor,
#preview h6:hover .anchor {
  text-decoration: none;
}

#preview h1:hover .anchor .octicon-link,
#preview h2:hover .anchor .octicon-link,
#preview h3:hover .anchor .octicon-link,
#preview h4:hover .anchor .octicon-link,
#preview h5:hover .anchor .octicon-link,
#preview h6:hover .anchor .octicon-link {
  visibility: visible;
}

#preview h1:hover .anchor .octicon-link:before,
#preview h2:hover .anchor .octicon-link:before,
#preview h3:hover .anchor .octicon-link:before,
#preview h4:hover .anchor .octicon-link:before,
#preview h5:hover .anchor .octicon-link:before,
#preview h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

#preview details {
  display: block;
}

#preview summary {
  display: list-item;
}

#preview a {
  background-color: initial;
}

#preview a:active,
#preview a:hover {
  outline-width: 0;
}

#preview strong {
  font-weight: inherit;
  font-weight: bolder;
}

#preview h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

#preview img {
  border-style: none;
}

#preview code,
#preview kbd,
#preview pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

#preview hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

#preview input {
  font: inherit;
  margin: 0;
}

#preview input {
  overflow: visible;
}

#preview [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

#preview * {
  box-sizing: border-box;
}

#preview input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#preview a {
  color: #0366d6;
  text-decoration: none;
}

#preview a:hover {
  text-decoration: underline;
}

#preview strong {
  font-weight: 600;
}

#preview hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

#preview hr:after,
#preview hr:before {
  display: table;
  content: "";
}

#preview hr:after {
  clear: both;
}

#preview table {
  border-spacing: 0;
  border-collapse: collapse;
}

#preview td,
#preview th {
  padding: 0;
}

#preview details summary {
  cursor: pointer;
}

#preview kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

#preview h1,
#preview h2,
#preview h3,
#preview h4,
#preview h5,
#preview h6 {
  margin-top: 0;
  margin-bottom: 0;
}

#preview h1 {
  font-size: 32px;
}

#preview h1,
#preview h2 {
  font-weight: 600;
}

#preview h2 {
  font-size: 24px;
}

#preview h3 {
  font-size: 20px;
}

#preview h3,
#preview h4 {
  font-weight: 600;
}

#preview h4 {
  font-size: 16px;
}

#preview h5 {
  font-size: 14px;
}

#preview h5,
#preview h6 {
  font-weight: 600;
}

#preview h6 {
  font-size: 12px;
}

#preview p {
  margin-top: 0;
  margin-bottom: 10px;
}

#preview blockquote {
  margin: 0;
}

#preview ol,
#preview ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#preview ol ol,
#preview ul ol {
  list-style-type: lower-roman;
}

#preview ol ol ol,
#preview ol ul ol,
#preview ul ol ol,
#preview ul ul ol {
  list-style-type: lower-alpha;
}

#preview dd {
  margin-left: 0;
}

#preview code,
#preview pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
}

#preview pre {
  margin-top: 0;
  margin-bottom: 0;
}

#preview input::-webkit-inner-spin-button,
#preview input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

#preview :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

#preview .border {
  border: 1px solid #e1e4e8 !important;
}

#preview .border-0 {
  border: 0 !important;
}

#preview .border-bottom {
  border-bottom: 1px solid #e1e4e8 !important;
}

#preview .rounded-1 {
  border-radius: 3px !important;
}

#preview .bg-white {
  background-color: #fff !important;
}

#preview .bg-gray-light {
  background-color: #fafbfc !important;
}

#preview .text-gray-light {
  color: #6a737d !important;
}

#preview .mb-0 {
  margin-bottom: 0 !important;
}

#preview .my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

#preview .pl-0 {
  padding-left: 0 !important;
}

#preview .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#preview .pl-1 {
  padding-left: 4px !important;
}

#preview .pl-2 {
  padding-left: 8px !important;
}

#preview .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

#preview .pl-3,
#preview .px-3 {
  padding-left: 16px !important;
}

#preview .px-3 {
  padding-right: 16px !important;
}

#preview .pl-4 {
  padding-left: 24px !important;
}

#preview .pl-5 {
  padding-left: 32px !important;
}

#preview .pl-6 {
  padding-left: 40px !important;
}

#preview .f6 {
  font-size: 12px !important;
}

#preview .lh-condensed {
  line-height: 1.25 !important;
}

#preview .text-bold {
  font-weight: 600 !important;
}

#preview .pl-c {
  color: #6a737d;
}

#preview .pl-c1,
#preview .pl-s .pl-v {
  color: #005cc5;
}

#preview .pl-e,
#preview .pl-en {
  color: #6f42c1;
}

#preview .pl-s .pl-s1,
#preview .pl-smi {
  color: #24292e;
}

#preview .pl-ent {
  color: #22863a;
}

#preview .pl-k {
  color: #d73a49;
}

#preview .pl-pds,
#preview .pl-s,
#preview .pl-s .pl-pse .pl-s1,
#preview .pl-sr,
#preview .pl-sr .pl-cce,
#preview .pl-sr .pl-sra,
#preview .pl-sr .pl-sre {
  color: #032f62;
}

#preview .pl-smw,
#preview .pl-v {
  color: #e36209;
}

#preview .pl-bu {
  color: #b31d28;
}

#preview .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

#preview .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

#preview .pl-c2:before {
  content: "^M";
}

#preview .pl-sr .pl-cce {
  font-weight: 700;
  color: #22863a;
}

#preview .pl-ml {
  color: #735c0f;
}

#preview .pl-mh,
#preview .pl-mh .pl-en,
#preview .pl-ms {
  font-weight: 700;
  color: #005cc5;
}

#preview .pl-mi {
  font-style: italic;
  color: #24292e;
}

#preview .pl-mb {
  font-weight: 700;
  color: #24292e;
}

#preview .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

#preview .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

#preview .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

#preview .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}

#preview .pl-mdr {
  font-weight: 700;
  color: #6f42c1;
}

#preview .pl-ba {
  color: #586069;
}

#preview .pl-sg {
  color: #959da5;
}

#preview .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

#preview .mb-0 {
  margin-bottom: 0 !important;
}

#preview .my-2 {
  margin-bottom: 8px !important;
}

#preview .my-2 {
  margin-top: 8px !important;
}

#preview .pl-0 {
  padding-left: 0 !important;
}

#preview .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#preview .pl-1 {
  padding-left: 4px !important;
}

#preview .pl-2 {
  padding-left: 8px !important;
}

#preview .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

#preview .pl-3 {
  padding-left: 16px !important;
}

#preview .pl-4 {
  padding-left: 24px !important;
}

#preview .pl-5 {
  padding-left: 32px !important;
}

#preview .pl-6 {
  padding-left: 40px !important;
}

#preview .pl-7 {
  padding-left: 48px !important;
}

#preview .pl-8 {
  padding-left: 64px !important;
}

#preview .pl-9 {
  padding-left: 80px !important;
}

#preview .pl-10 {
  padding-left: 96px !important;
}

#preview .pl-11 {
  padding-left: 112px !important;
}

#preview .pl-12 {
  padding-left: 128px !important;
}

#preview hr {
  border-bottom-color: #eee;
}

#preview kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

#preview .body:after,
#preview .body:before {
  display: table;
  content: "";
}

#preview .body:after {
  clear: both;
}

#preview .body > :first-child {
  margin-top: 0 !important;
}

#preview .body > :last-child {
  margin-bottom: 0 !important;
}

#preview a:not([href]) {
  color: inherit;
  text-decoration: none;
}

#preview blockquote,
#preview details,
#preview dl,
#preview ol,
#preview p,
#preview pre,
#preview table,
#preview ul {
  margin-top: 0;
  margin-bottom: 16px;
}

#preview hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

#preview blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

#preview blockquote > :first-child {
  margin-top: 0;
}

#preview blockquote > :last-child {
  margin-bottom: 0;
}

#preview h1,
#preview h2,
#preview h3,
#preview h4,
#preview h5,
#preview h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

#preview h1 {
  font-size: 2em;
}

#preview h1,
#preview h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

#preview h2 {
  font-size: 1.5em;
}

#preview h3 {
  font-size: 1.25em;
}

#preview h4 {
  font-size: 1em;
}

#preview h5 {
  font-size: 0.875em;
}

#preview h6 {
  font-size: 0.85em;
  color: #6a737d;
}

#preview ol,
#preview ul {
  padding-left: 2em;
}

#preview ol ol,
#preview ol ul,
#preview ul ol,
#preview ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

#preview li {
  word-wrap: break-all;
}

#preview li > p {
  margin-top: 16px;
}

#preview li + li {
  margin-top: 0.25em;
}

#preview dl {
  padding: 0;
}

#preview dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

#preview dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

#preview table {
  display: block;
  width: 100%;
  overflow: auto;
}

#preview table th {
  font-weight: 600;
}

#preview table td,
#preview table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

#preview table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

#preview table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#preview img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}

#preview img[align=right] {
  padding-left: 20px;
}

#preview img[align=left] {
  padding-right: 20px;
}

#preview code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

#preview pre {
  word-wrap: normal;
}

#preview pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

#preview .highlight {
  margin-bottom: 16px;
}

#preview .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

#preview .highlight pre,
#preview pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

#preview pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}

#preview .commit-tease-sha {
  display: inline-block;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 90%;
  color: #444d56;
}

#preview .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

#preview .blob-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

#preview .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

#preview .blob-num {
  width: 1%;
  min-width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  line-height: 20px;
  color: rgba(27, 31, 35, 0.3);
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#preview .blob-num:hover {
  color: rgba(27, 31, 35, 0.6);
}

#preview .blob-num:before {
  content: attr(data-line-number);
}

#preview .blob-code {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 20px;
  vertical-align: top;
}

#preview .blob-code-inner {
  overflow: visible;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  color: #24292e;
  word-wrap: normal;
  white-space: pre;
}

#preview .pl-token.active,
#preview .pl-token:hover {
  cursor: pointer;
  background: #ffea7f;
}

#preview .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  -o-tab-size: 1;
     tab-size: 1;
}

#preview .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  -o-tab-size: 2;
     tab-size: 2;
}

#preview .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  -o-tab-size: 3;
     tab-size: 3;
}

#preview .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

#preview .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  -o-tab-size: 5;
     tab-size: 5;
}

#preview .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  -o-tab-size: 6;
     tab-size: 6;
}

#preview .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  -o-tab-size: 7;
     tab-size: 7;
}

#preview .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  -o-tab-size: 8;
     tab-size: 8;
}

#preview .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  -o-tab-size: 9;
     tab-size: 9;
}

#preview .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  -o-tab-size: 10;
     tab-size: 10;
}

#preview .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  -o-tab-size: 11;
     tab-size: 11;
}

#preview .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  -o-tab-size: 12;
     tab-size: 12;
}

#preview .task-list-item {
  list-style-type: none;
}

#preview .task-list-item + .task-list-item {
  margin-top: 3px;
}

#preview .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.p-input__tag {
  margin-top: 5px;
}

.p-tags {
  display: flex;
  justify-content: space-between;
}

.p-input__detail {
  margin-top: 5px;
}

.p-lesson {
  margin-top: 5px;
}

.p-lesson__lesson {
  margin-top: 5px;
}

body {
  padding-top: 60px;
  color: #484848;
}

input {
  box-sizing: border-box;
  border: none;
}

