//PCヘッダーサブメニュー
/* Global Menu */
.global-nav__pc{

  header{
    position: relative;
    width: 50px;
    background-color: #444;

  }
  ul > li{
    display: inline-block;
  }
  .global-nav__pc__submenu__list{
    padding: 15px 30px;
    display: block;
    text-transform: uppercase;
  }
  ul > li > span{
    margin-left: 1.2em;
  }

  /* Submenu */
  ul li ul{
    position: absolute;
    top: -25px;
  }
  ul li ul li{
    display: block;
    &:first-child{
      border-bottom: none;
    }
  }
  ul li ul .global-nav__pc__submenu{
    &__list{
      background-color: $low-gr;
      color: $main-text;
      border-bottom: 1px solid #333;
      &:visited{
        color: $main-text;
      }
      &:first-child{
        border-bottom:none;
      }
      &:hover{
        opacity: 1;
        color: $main-color;
        cursor: pointer;
        background: #fff;
      }
      }
    }

  .sample01 ul li ul{
    position: absolute;
    top: -1000px;
    left: -150px;
    width: 200q;
  }
  .sample01 ul li:hover ul{
    transform: translateY(1055px);
    -ms-transform: translateY(1055px);/*IE９対策*/
  }
}


.header{
    height: $header-height;
    background: #bab4b4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
    opacity: .9;
    @include pc{
      height: 70px;
      background: $main-color;
    }
}
.header__inner{
    display: flex;
    justify-content: space-between;
    @include pc{
      margin: 0 auto;
      max-width: 834px;
    }
}

.header__logo{
    margin: 15px 0 0 15px;
    @include pc{
      margin: 10px 0 0 20px;
      position: relative;
      top: -8px;
    }
}

.c-header__sessionMessage{
        width: 100%;
        background: $main-color;
        display: block;
        position: absolute;
        top: 60px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        opacity: 0.8;
        color: white;
        z-index: 6;
        padding: 16px;
        box-sizing: border-box;
        line-height: 1.35;
        @include pc{
        top: 70px;
      }
}

//PC時のヘッダーナビゲーションメニュー
//==============================
.global-nav__pc{
  display: none;
  height: 70px;
  width: 450px;
  @include pc{
    display: block;
  }
  &--wrap{
    height: 70px;
  }
  &--list{
    height: 100%;
    display: flex;
    font-size: 15px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: $sub-text;
    a:visited{
      color: $sub-text;
    }
  }

  &__profile{
    &__img__wrapper{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &__img{
    height: 100%;
    }
  }
}
