.l-product{
    .l-product__wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 32px 16px;
        @include pc{
              
            background-color: red;
            }
    }    

}

.l-productShow__wrapper{
    padding: 0 20px;
}